<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>表单</title>
		<link rel="stylesheet" href="/css/backstage/sku_style.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/global.css">
		<link rel="stylesheet" type="text/css" href="/css/backstage/form.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/add.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/layout.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/popup.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/upload.css" />
	</head>

	<body>
	<div class="container">
		<h1 class="tabTitle"><span onclick="NewPage('tab.html')"><img src="images/xjt.png"/></span>新增商品</h1>
		<div class="info">
			<form action="#" method="post" enctype="multipart/form-data" onsubmit="return checkForm()" class="formSheet">
				<dl>
					<dd>
					<dt><span>商品分类</span></dt>
					<div style="font-size: 14px; width: 100%; height: 150px; margin-left: 120px; margin-top:13px;">
						<div style="width: 100%;height: 40px;">
							<a>一级分类:</a>
							<select id="url_lists1" style="height: 29px;width: 220px;margin-left: 14px;border:1px #96a4be solid" onchange="Shoptype()"> </select>
						</div>
						<div style="width: 100%;height: 40px;">
							<a>二级分类:</a>
							<select id="url_lists2" style="height: 29px;width: 220px;margin-left: 14px;border:1px #96a4be solid" onchange="Shoptypethree()"> </select>
						</div>
						<div style="width: 100%;height: 40px;">
							<a>三级分类:</a>
							<select id="url_lists3" style="height: 29px;width: 220px;margin-left: 14px;border:1px #96a4be solid" onchange="listName()"> </select>
						</div>
					</div>

					<div style="font-size: 14px; margin-left: 127px; margin-top: -20px;">
						<a style="margin-left: -7px; ">类别属性:</a>

						<div style=" width: 100%;">
							<ul class="SKU_TYPEproduct">
								<!-- propid 是属性id   sku-type-name属性名称  is_required 是否是必选SKU 0：不是；1：是-->

							</ul>
							<ul>
								<li><label><input type="checkbox" class="sku_value1" propvalid='11' value="阿迪达斯" />阿迪达斯</label></li>

								<div class="clear"></div>


							</ul>
							<div class="clear"></div>
						</div>


					</div>

					</dd>
				</dl>

				<dl>
					<dd>
					<dt><span>商品名称</span></dt>
					<div class="fbox" style="width: 30%;float: left;margin-left: 8px;margin-top: 8px;">
						<input type="text" class="textStyle" id="userName1" name="userName" style="width:360px;" placeholder="请输入商品名称" />
					</div>
					</dd>
				</dl>
				<dl>
					<dd>
					<dt><span>商品描述</span></dt>
					<div class="fbox" style="width: 30%;float: left;margin-left: 8px;margin-top: 8px;">
						<input type="text" class="textStyle" id="userName2" name="userName" style="width:360px;" placeholder="请输入商品分类" />
					</div>
					</dd>
				</dl>
				<dl>
					<dd>
					<dt><span>赠送积分</span></dt>
					<div class="fbox" style="width: 30%;float: left;margin-left: 8px;margin-top: 8px;">
						<input type="text" class="textStyle" id="userName3" name="userName" style="width:360px;" value="-1"/>
					</div>
					<span id="userNameText" class="txtInfo" style="float: none;margin-top: 50px;margin-left: 122px;font-size: 12px;">购买该商品时赠送等级积分数,-1表示按商品价格赠送</span>
					</dd>
				</dl>

				<dl>
					<dt><span >商品属性</span></dt>
					<dd>
						<div class="fbox" >
							<button class="cloneSku">添加sku属性</button>
							<!--sku模板,用于克隆,生成自定义sku-->
							<div id="skuCloneModel" style="display: none;height: 30px; width: 1000px;" >
								<div class="clear"></div>
								<div style="margin-left: 50px;">
									<ul class="SKU_TYPE">
										<li is_required='0' propid='' sku-type-name="">
											<a href="javascript:void(0);" class="delCusSkuType">移除</a>
											<input type="text" class="cusSkuTypeInput" style="width: 100px;"/>：
										</li>
									</ul>
									<ul>
										<li>
											<input type="checkbox" class="model_sku_val" propvalid='' value="11"/>
											<input type="text" class="cusSkuValInput" style="width: 100px;"/>
										</li>
										<button class="cloneSkuVal">添加属性值</button>
									</ul>
								</div>
								<div class="clear"></div>
							</div>
							<!--单个sku值克隆模板-->
							<li style="display: none;" id="onlySkuValCloneModel">
								<input type="checkbox" class="model_sku_val" propvalid='' value="" />
								<input type="text" class="cusSkuValInput" style="width: 100px;"/>
								<a href="javascript:void(0);" class="delCusSkuVal">删除</a>
							</li>
							<div class="clear"></div>
							<div id="skuTable"></div>
						</div>

					</dd>
				</dl>

				<dl>
					<dt><span>上传图片</span></dt>
					<dd>
						<div class="fbox">
							<img src="images/cat.png" width="150px" height="150px" style="padding-top: 20px;">
							<input type="button" class="button" value="上传" id="upload"/>
						</div>
						<span class="txtInfo" id="uptxt"></span>
					</dd>
				</dl>

				<dl>
					<dt>&nbsp;</dt>
					<dd>
						<input type="button" id="submit" value="保存" class="button save" />
					</dd>
				</dl>

			</form>
		</div>
	</div>

	<!--上传弹出框开始    "mb_"后面的值与里面的div名称必须保持一致-->
	<div id="mb_upfile">&nbsp;</div>
	<div class="popup" id="upfile">
		<h1>上传文件<span class="closeX" onclick="closeMask('upfile')">X</span></h1>
		<div class="pInfo">
			<form action="#">
				<div class='uploadfile' id="uploadfile"></div>
			</form>
		</div>
		<div class="pfooter">
			<input type="button" class="button" value="上传" multiple id="upload" onclick="uploadFile()" multiple="multiple" />
		</div>
	</div>
	<!--蒙板结束-->

	<script type="text/javascript" src='/js/backstage/jquery-3.3.1.min.js'></script>
	<script type="text/javascript" src="/js/backstage/global.js"></script>
	<script type="text/javascript" src="/js/backstage/popup.js"></script>
	<script type="text/javascript" src="/js/backstage/upload.js"></script>
	<script type="text/javascript" src="/js/backstage/jquery.min.js"></script>
	<script type="text/javascript" src="/js/backstage/createSkuTable.js"></script>
	<script type="text/javascript" src="/js/backstage/customSku.js"></script>
	<script type="text/javascript" src="/plugins/layer/layer.js"></script>
	<script type="text/javascript" src="/js/backstagege/tSetSkuVals.js"></script>
	<script type="text/javascript" src="/js/backstage/commAdd.js"></script>

	<script type="text/javascript">
        //上传弹窗
		$(function(){
            //加载一级分类
            oneClassinfo();
		})
        /*jQuery(function() {
           /!* $("#upload").click(function() {
                //参数false代表文件不是图片
                up_load(true);
                //弹框
                mask(420, 270, true, "upfile");
            });
            var file;
            for (var i = 0;document.getElementById("file").files.length;i++) {
                file = document.getElementById("file").files[i];
                alert(file.name);
            }*!/

        });*/
        //根据三级分类加载属性
		function listName(){
		    var productId=$("#url_lists3").val();
		    alert(productId);
		    $.ajax({
				url:"../listName",
				type:"post",
				data:{productId:productId},
				dataType:"JSON",
				success:function(result){
				    var content="";
				    $.each(result,function(i,e){
				        content+="<li is_required='0' propid='1' sku-type-name='"+e.skunameName+"'><input type='hidden' class='id"+e.skunameId+"' value='"+e.skunameId+"' /><em></em>"+e.skunameName+":</li>";
					})
					alert(content);
					$(".SKU_TYPEproduct").html(content);
                    listvalue();
				}
			})
		}
		//根据三级分类下的属性查询对应的属性值
		function listvalue(){
		    var skuvalueId=$(".").val();
		}
        //加载一级分类
        function oneClassinfo(){
            //加载一级分类
            $.ajax({
                url:"../getCategoryOneInfo",
                type:"post",
                dataType:"JSON",
                success:function(result){
                    var jsonFirst=result[0].categoryontName;
                    var content=""
                    $.each(result,function(i,e){
                        if(e.categoryontName==result[0].categoryontName){
                            content+="<option selected='selected' value='"+e.categoryoneId+"'>"+e.categoryontName+"</option>"
                        }else{
                            content+="<option value='"+e.categoryoneId+"'>"+e.categoryontName+"</option>"
                        }

                    })
                    $("#url_list").html(content);
                    $("#url_lists").html(content);
                    $("#url_lists1").html(content);
                    //加载二级分类
                    sh();
                    Shoptype();
                }
            })
        }
        //根据一级分类查询二级分类
        function sh(){
            var parentid=$("#url_lists").val();

            $.ajax({
                url:"../getCategoryTwoInfo",
                type:"post",
                data:{parentId:parentid},
                datatype:"JSON",
                success:function(result){
                    var json=JSON.parse(result);
                    var content="";
                    $.each(json,function(i,e){
                        content+="<option value='"+e.categorytwoId+"'>"+e.categorytwoName+"</option>";
                    })
                    $("#url_list3").html(content);
                }
            })
        }

        //根据商品属性的一级分类查询二级分类
        function Shoptype(){
            var parentid=$("#url_lists1").val();

            $.ajax({
                url:"../getCategoryTwoInfo",
                type:"post",
                data:{parentId:parentid},
                datatype:"JSON",
                success:function(result){
                    var json=JSON.parse(result);
                    var content="";
                    $.each(json,function(i,e){
                        if(e.categorytwoName==result[0].categorytwoName){
                            content+="<option selected='selected' value='"+e.categorytwoId+"'>"+e.categorytwoName+"</option>";
                        }else{
                            content+="<option value='"+e.categorytwoId+"'>"+e.categorytwoName+"</option>";
                        }

                    })
                    $("#url_lists2").html(content);
                    Shoptypethree();
                }
            })
        }
        //根据商品属性的二级分类查询三级分类
        function Shoptypethree(){
            var parentid=$("#url_lists2").val();
            $.ajax({
                url:"../categoryThreeInfo",
                type:"post",
                data:{parentId:parentid},
                dataType:"JSON",
                success:function(result){

                    var content="";
                    $.each(result,function(i,e){

                        content+="<option value='"+e.categorythreeId+"'>"+e.categorythreeName+"</option>";
                    })
                    $("#url_lists3").html(content);
                    listName();
                }
            })
        }




        //表单验证   注意：文本提示的信息应在开始的时候全部写在placeholder中
        function checkForm() {
            var name = checkUserName();
            return name;
        }
        //验证姓名
        function checkUserName() {
            var username = $("#userName");
            var usernameText=$("#userNameText");
            if(username.val() == "") {
                username.addClass("err");
                usernameText.text("姓名输入不能超过四个字符")
                usernameText.addClass("red");
                return false;
            } else {
                username.removeClass("err");
                return true;
            }
        }
	</script>

	</body>

</html>