<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/css/backstage/global.css">
	<link rel="stylesheet" type="text/css" href="/css/backstage/index.css">
</head>

<body>
<div class="head">
	<div class="logo"><img src="/images/backstage/logo.png" /></div>
	<!--<ul class="hav">
        <li class="hav_li">商城</li>
        <li class="hav_li">推客</li>
        <li class="hav_li">合伙人</li>
        <li class="hav_li">数据中心</li>
        <li class="hav_li">微信</li>
        <li class="hav_li">会员</li>
        <li class="hav_li">积分</li>
    </ul>-->
	<div class="login" id="admin">
		<span class="loginUser">admin</span>
		<div class="person">
			<span>个人中心</span>
			<span>修改密码</span>
			<span onclick="openPage('/backstage/login.html')" ;>退出</span>
		</div>
	</div>
</div>
<div class="leftBtn" onclick="hideLeft();"></div>
<div class="content">
	<div class="left">

		<!--NO1 START-->
		<div id="nav_1" class="nav">
			<h1>关系型数据库</h1>
			<ul class="nav_ul">
				<li>
					<div class="nav_title">商品管理</div>
					<ul class='second'>
						<li onclick="NewPage('/backstage/shopList.html')">商品列表</li>
						<li onclick="NewPage('/backstage/commodityAdd.html')">新增商品</li>
						<!--<li onclick="NewPage('/backstage/kindeditor.html')">kindeditor富文本编辑器</li>-->
					</ul>
				</li>
				<li>
					<div class="nav_title">商品分类列表</div>
					<ul class='second'>
						<li onclick="NewPage('/backstage/productList.html')">
							分类列表
						</li>
					</ul>
				</li>

				<li>
					<div class="nav_title">用户管理</div>
					<ul class='second'>
						<li onclick="NewPage('/backstage/userList.html')">用户列表</li>
					</ul>
				</li>

				<li>
					<div class="nav_title">订单管理</div>
					<ul class='second'>
						<li onclick="NewPage('/backstage/orderList.html')">订单列表</li>
						<li onclick="NewPage('/backstage/comment.html')">评论列表</li>
					</ul>
				</li>

				<li>
					<div class="nav_title">内容管理</div>
					<ul class='second'>
						<li onclick="NewPage('/backstage/notice.html')">内容列表</li>
					</ul>
				</li>

				<li>
					<div class="nav_title">报表管理</div>
					<ul class='second'>
						<li onclick="NewPage('/backstage/goodsAnalysis.html')">商品分析</li>
						<li onclick="NewPage('/backstage/salesReport.html')">销售额报告</li>
						<li onclick="NewPage('/backstage/wareRecord.html')">入库记录</li>
					</ul>
				</li>
			</ul>
		</div>
		<!--NO1 END-->
	</div>

	<div class="right">
		<iframe class="iframe" name="frmright" src="" frameborder="0" scrolling="yes"></iframe>
	</div>

</div>
<div class="rightBtn" onclick="showLeft();"></div>
<!--提醒结束-->
<script type="text/javascript" src="/js/backstage/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/backstage/index.js"></script>
<script type="text/javascript" src="/js/backstage/glob	al.js"></script>

</body>

</html>