<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>表格2单选行</title>

		<link rel="stylesheet" type="text/css" href="/css/backstage/global.css">
		<link rel="stylesheet" type="text/css" href="/css/backstage/table.css">
		<link rel="stylesheet" type="text/css" href="/css/backstage/page.css">
		<link rel="stylesheet" type="text/css" href="/css/backstage/form.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/popup.css" />

	</head>

	<body>
		<div class="container">
			<h1 class="tabTitle"><span onclick="NewPage('table.html')"><img src="/images/backstage//xjt.png"/></span>公告信息</h1>
			<!--搜索区开始-->
			<div class="serach">
				<span>新闻标题：</span>
				<input type="text" class="textStyle" placeholder="请输标题" style="width: 180px;height: 24px;line-height: 24px;" />
			
						<span>新闻类型：</span>
								<select class="selectStyle" style="width:210px;">
									<option>全部</option>
									<option>新闻</option>
									<option>娱乐</option>								
								</select>
							
						
						</dd>
					</dl>
				<input type="button" value="搜索" class="button search" />
			</div>
			<!--搜索区结束-->
			<div class="info">
				<table id="dg" cellpadding="0" cellspacing="0" border="0" class="selectTable">
					<thead>
						<tr>
							<th>编号</th>
							<th>类型</th>
							<th>标题</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="4">
								<img src="/images/backstage/loading.gif" />
							</td>
						</tr>
						<tr>
							<td>
								1
							</td>
							<td>新闻</td>
							<td>U袋网平台已上线，您还在等什么？</td>
							<td>
								<a href="javascript:;" id="edit" class="button edi">编辑</a>
								<a href="javascript:;" id="open" class="button">详情</a>
								<a href="javascript:;" id="del"  class="button del">删除</a>
						    </td>
						</tr>
					</tbody>
				</table>
				<div class='pageStyle'></div>
			</div>

		</div>
		<!--详情-->
		<div id="mb_all" class="mbStyle">&nbsp;</div>
		<div class="popup" id="all">
			<h1>详情<span class="closeX" onclick="closeMask('all')">X</span></h1>
			<div class="pInfo addForm">
			<dl>
						<dt><span>标题</span></dt>
						<dd>
							<div class="fbox">
								U袋网平台已上线，您还在等什么？
							</div>
						</dd>
					</dl>
					<dl>
						<dt><span>类型</span></dt>
						<dd>
							<div class="fbox">	
							    新闻			
							</div>

						</dd>
					</dl>
					<dl>
						<dt><span>网址</span></dt>
						<dd>
							<div class="fbox">	
							    www.udai.com			
							</div>

						</dd>
					</dl>
					<dl>
						<dt><span>内容</span></dt>
						<dd>
							<div class="fbox">
								<p style="text-indent: 2em">
									因为全国遭遇罕见强寒潮天气，各大快递公司纷纷在1月25 日左右结束收派件业务，提前放假过年；各品牌厂家近期也年末清仓，货源极度不稳定，断货、下架的情况也是蛮多的！
								</p>
							</div>						
						</dd>
					</dl>
					<dl>
						<dt><span>发布日期</span></dt>
						<dd>
							<div class="fbox">	
							    2017-09-22 15:20		
							</div>
						</dd>
					</dl>
					<dl>
						<dt><span>更新日期</span></dt>
						<dd>
							<div class="fbox">	
							    		
							</div>
						</dd>
					</dl>
			</div>
			<div class="pfooter">
				<input type="button" value="编辑"  class="button edit edi" />
			</div>
		</div>
        <!-- 编辑 -->
		<div id="mb_stuInfo2">&nbsp;</div>
		<div class="popup" id="stuInfo2">
			<h1>查询列表<span class="closeX" onclick="closeMask('stuInfo2')">X</span></h1>
			<div class="pInfo">
				<form action="#" method="post" enctype="multipart/form-data" onsubmit="return checkForm()" class="addForm">
					<dl>
						<dt><span>标题</span></dt>
						<dd>
							<div class="fbox">
								<input type="text" class="textStyle" id="userName" name="userName" style="width:200px;" value="U袋网平台已上线，您还在等什么？" maxlength="20" />
							</div>
							<span>不能超过20个字</span>
						</dd>
					</dl>
					<dl>
						<dt><span>类型</span></dt>
						<dd>
							<div class="fbox">
								<select class="selectStyle" style="width:150px;">
									<option>全部</option>
									<option selected>新闻</option>
									<option>娱乐</option>								
								</select>
							</div>

						</dd>
					</dl>
					<dl>
						<dt><span>网址</span></dt>
						<dd>
							<div class="fbox">
								<input type="text" name="" id="" style="width:200px;" class="textStyle" value="www.udai.com">
							</div>

						</dd>
					</dl>
					<dl>
						<dt><span>内容</span></dt>
						<dd>
							<div class="fbox">
								<textarea name="" id="" style="height:500px; width: 600px" class="dateStyle">   因为全国遭遇罕见强寒潮天气，各大快递公司纷纷在1月25 日左右结束收派件业务，提前放假过年；各品牌厂家近期也年末清仓，货源极度不稳定，断货、下架的情况也是蛮多的！
								</textarea>
							</div>
						</dd>
					</dl>

				</form>
			</div>
			<div class="pfooter">
				<input type="button" value="更新" id="ed" class="button edit" />
			</div>
		</div>
		<div id="mb_prop">&nbsp;</div>
		<script src="/js/backstage/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="/js/backstage/global.js"></script>
		<script type="text/javascript" src="/js/backstage/index.js"></script>
		<script type="text/javascript" src="/js/backstage/popup.js"></script>

		<script type="text/javascript">
			$(function() {
				$(document).on("click","#open",function() {
					mask(580, 420, true, "all");
				});
                $(document).on("click",".edi",function(){
                   	mask(800, 520, true, "stuInfo2");
                });
				$(document).on("click",".del",function() {
					var id=$(this).attr("id");
					deleteShowAlert('删除提示', '确定要删除吗？', '确定', '取消', id);
				});
				$(document).on("click","#ed",function() {
					var id=$(this).attr("id");
					mask(800,520,false,"prop");
					deleteShowAlert('更新提示', '确定要更新吗？', '确定', '取消',id);
				});
			});
			function result(bz, choose) {
				 if(bz=="del"){
					if(choose) {					
						$("#"+bz).parent().parent().remove();
						showWebAlert('删除成功！');
					} 
				}
				if(bz=="ed"){
					if(choose) {
						closeMask('all');	
						closeMask('stuInfo2');	
						closeMask('prop');			
						showWebAlert('更新成功！');
					}else{
						closeMask('all');
						closeMask('prop');
						closeMask("stuInfo2");
                    }
				}
			}
		</script>
	</body>

</html>