<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>分类列表</title>

		<link rel="stylesheet" type="text/css" href="/css/backstage/global.css">
		<link rel="stylesheet" type="text/css" href="/css/backstage/table.css">

		<link rel="stylesheet" type="text/css" href="/css/backstage/page.css">
		<link rel="stylesheet" type="text/css" href="/css/backstage/form.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/popup.css" />

		<style type="text/css">

		</style>

	</head>

	<body>
		<div class="container">
			<h1 class="tabTitle"><span onclick="NewPage('table.html')"></span>分类列表</h1>

			<div class="serach">
				<!--<input type="button" value="新增" class="button add" onclick="add()"/>-->
			</div>
			<!--搜索区结束-->

			<div class="info">
				<table id="dg" cellpadding="0" cellspacing="0" border="0" class="selectTable">
					<thead>
						<tr>

							<th width="10%">分类编号</th>
							<th width="35%">分类名称</th>
							<th width="10%">分类级别</th>
							<th width="20">操作</th>
						</tr>
					</thead>
					<tbody class="show">

					</tbody>
				</table>
				<div class='pageStyle'>

				</div>
			</div>

			<div id="mb_stuInfo">&nbsp;</div>


			<div class="popup" id="stuInfo">
				<h1>修改<span class="closeX" onclick="closeMask('stuInfo')">X</span></h1>
				<div class="pInfo">
					<form action="#" method="post"  onsubmit="return checkForm()" class="addForm"><br/>
						<p class="fen" style="padding-left: 8px"></p><br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;原名：<input type="text" class="updoneyuanname" readonly="readonly" style="border: 1px solid #a0b7d4;width: 130px;height: 25px" /><input type="hidden" class="updid"/><br/><br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="updonename" style="border: 1px solid #a0b7d4;width: 130px;height: 25px" />
					</form>

				</div>
				<div class="pfooter">
					<input type="button" value="保存" class="button" style='text-align: center;width:30px;height: 30px;padding-left: 20px;padding-right: 45px' onclick="upds()" />
					<input type="button" value="取消" onclick="closeMask('stuInfo')" class="button delete" />
				</div>
			</div>
		</div>
			<script src="/js/backstage/jquery-3.3.1.min.js"></script>
			<script src="/js/backstage/pagetion.js"></script>
			<script type="text/javascript" src="/js/backstage/table.js"></script>
			<script type="text/javascript" src="/js/backstage/popup.js"></script>
			<script type="text/javascript" src="/js/backstage/jquery-1.8.3.min.js"></script>
			<script type="text/javascript">
				var one="";
				var two="";
				var three="";
				var shu="";
				var shuxing="";
                var pagesize = 10; //页显示多少条记录
                $(function() {

                    tableInit(1, pagesize); //初始默认第一页
                });
                //页索引 pageindex
                // 每页点击页码与输入页码跳转页面
                function show(pageindex) {
                    tableInit(pageindex, pagesize);
                }
                //根据operations扩展的自定义方法
                function delete1(id) {
                    //alert(id)
                }
                function update1(id) {
                    //alert(id)
                }
                /*$(function() {
                    //绑定行单击事件开始
                    $("#dg").on("click", "tr", function() {
                        //单击从表格上取id值
                        var _trId = $(this).children("td:eq(1)").html();

                    });
                    //绑定行单击事件结束

                    /!*绑定行双击事件开始*!/
                    $("#dg").on("dblclick", "tr", function() {
                        var _trId = $(this).children("td:eq(1)").html();

                    });


                    /!*绑定行双击事件结束*!/
                })*/

                //查询一级分类分页
                function tableInit(pageindex, pagesize) {

                    $.ajax({
                        url:"../listCategorys",
                        type:"post",
                        data:{pageNum:pageindex,pageSize:pagesize},
                        dataType:"JSON",
                        success:function(result){
                            var content="";
							if(result.apps!=null||result.apps!=""){
                                $.each(result.list,function(i,e){
                                    content+="<tr><td>"+e.categoryoneId+"</td><td>"+e.categoryontName+"</td>\<td>一级分类</td><td><input type='button'  value='查看子分类' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 80px' class='button save' onclick='listTwos("+e.categoryoneId+",1,10)'/>&nbsp;&nbsp;&nbsp;<input type='button'  value='修改'style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 45px' class='button' onclick='upd(this)'/></td></tr>";
                                })
							}

                            showPage(pageindex,result.pages,result.total);
                            $(".show").html(content);
                        }
                    })

                }
                //查询一级分类下的二级分类
                function listTwos(categoryoneId,pageindex,pagesize) {
                    $.ajax({
                        url:"../getCategoryTwoInfofy",
                        type:"post",
                        data:{parentId:categoryoneId,pageNum:pageindex,pageSize:pagesize},
                        dataType:"JSON",
                        success:function(result){
                            var content="";

                            if(result.apps!=null||result.apps!=""){
                                $.each(result.list,function(i,e){
                                    content+="<tr><td>"+e.categorytwoId+"</td><td>"+e.categorytwoName+"</td>\<td>二级分类</td><td><input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 80px' value='查看子分类' class='button' onclick='listThree("+e.categorytwoId+",1,10)'/>&nbsp;&nbsp;&nbsp;<input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 65px' value='查看父级' class='button' onclick='tableInit(1,10)'/>&nbsp;&nbsp;&nbsp;<input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 45px'' value='修改' class='button' onclick='upd2(this)'/>&nbsp;&nbsp;&nbsp;&nbsp;<input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 45px' value='删除' class='button' onclick='deltwo("+e.categorytwoId+")'/></td></tr>";
                                })
                            }else{
                                content="暂无数据";
                            }
                            showPage(pageindex,result.pages,result.total);
                            one=categoryoneId;
                            $(".show").html(content);
                        }

                    })

                }
                <!--查询二级分类下的三级分类-->
				function listThree(categorytwoId,pageindex,pagesize){
                    $.ajax({
                        url:"../getCategoryThreeInfofy",
                        type:"post",
                        data:{parentId:categorytwoId,pageNum:pageindex,pageSize:pagesize},
                        dataType:"JSON",
                        success:function(result){
                            var content="";
                            $.each(result.list,function(i,e){
                                content+="<tr><td>"+e.categorythreeId+"</td><td>"+e.categorythreeName+"</td>\<td>三级分类</td><td><input type='button'  value='查看子分类' class='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 80px' onclick='listshu("+e.categorythreeId+",1,10)'/>&nbsp;&nbsp;&nbsp;<input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 65px' value='查看父级' class='button' onclick='seltwo()'/>&nbsp;&nbsp;&nbsp;<input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 45px' value='修改' class='button' onclick='upd3(this)'/>&nbsp;&nbsp;&nbsp;<input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 45px' value='删除' class='button' onclick='delthree("+e.categorythreeId+")'/></td></tr>";
                            })
                            showPage(pageindex,result.pages,result.total);
							two=categorytwoId;
                            $(".show").html(content);
                        }
                    })
				}
				<!--查询三级下的属性-->
				function listshu(categorythreeId,pageindex,pagesize){
                    $.ajax({
                        url:"../getTypeNamefy",
                        type:"post",
                        data:{categoryId:categorythreeId,pageNum:pageindex,pageSize:pagesize},
                        dataType:"JSON",
                        success:function(result){
                            var content="";
                            $.each(result.list,function(i,e){
                                content+="<tr><td>"+e.typeNameId+"</td><td>"+e.typeNameName+"</td>\<td>分类属性</td><td><input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 80px' value='查看属性值' class='button' onclick='listshuzhi("+e.typeNameId+",1,10)'/>&nbsp;&nbsp;&nbsp;<input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 65px' value='查看父级' class='button' onclick='selthree()'/>&nbsp;&nbsp;&nbsp;<input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 45px' value='修改' class='button' onclick='upd4(this)'/>&nbsp;&nbsp;&nbsp;<input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 45px' value='删除' class='button' onclick='delshu("+e.typeNameId+")'/></td></tr>";
                            })
                            showPage(pageindex,result.pages,result.total);
							three=categorythreeId;
                            $(".show").html(content);
                        }
                    })
				}
				<!--查询属性下的属性值-->
				function listshuzhi(typeNameId,pageindex,pagesize){
                    $.ajax({
                        url:"../getTypeValuefy",
                        type:"post",
                        data:{typeNameId:typeNameId,pageNum:pageindex,pageSize:pagesize},
                        dataType:"JSON",
                        success:function(result){
                            var content="";
                            if(result==null){

							}
                            $.each(result.list,function(i,e){
                                content+="<tr><td>"+e.typeValueId+"</td><td>"+e.typeValueName+"</td>\<td>分类属性</td><td><input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 65px' value='查看父级' class='button' onclick='selshu(1,10)'/>&nbsp;&nbsp;&nbsp;<input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 45px' value='修改' class='button' onclick='upd5(this)'/>&nbsp;&nbsp;&nbsp;<input type='button' style='text-align: center;width:30px;height: 35px;padding-left: 20px;padding-right: 45px' value='删除' class='button' onclick='delshuxing("+e.typeValueId+")'/></td></tr>";
                            })
                            showPage(pageindex,result.pages,result.total);
							shu=typeNameId;
                            $(".show").html(content);
                        }
                    })
				}
				<!--根据一级分类的id查询对应的二级分类(查看三级查看二级父类的时候)-->
				function seltwo(){
					//获取所选一级分类的编号
					//调用一级分类查询二级分类
                    listTwos(one,1,10);
				}
				<!--根据二级分类的id查询对应的三级分类(查看属性的三级分类)-->
				function selthree(){
                    //调用二级分类查询三级分类
                    listThree(two,1,10);
				}
				<!--根据三级分类的id查询对应的属性（查看属性值的属性）-->
				function selshu(){
                    //调用三级分类查询属性
					listshu(three,1,10);
				}
				<!--查询属性值-->
				function selshuxing(){
                    listshuzhi(shu,1,10);
				}
                <!--删除二级分类-->
				function deltwo(categorytwoId){

                    $.ajax({
                        url:"../delcategorytwo",
                        type:"post",
                        data:{categorytwoId:categorytwoId},
                        dataType:"JSON",
                        success:function(result){
                            if(result==1){
                                alert("该分类下还有商品");
                            }else if(result==2){
                                alert("删除成功");
                            }else if(result==3){
                                alert("删除失败");
                            }else{
                                alert("数据游玩中……请稍后再试~~~");
                            }
                            //调用属性值，重新查询
                            seltwo();
                        }
                    })
				}
                <!--删除三级分类-->
                function delthree(categorythreeId){
                    $.ajax({
                        url:"../delcategorythree",
                        type:"post",
                        data:{categorythreeId:categorythreeId},
                        dataType:"JSON",
                        success:function(result){
                            if(result==1){
                                alert("该分类下还有商品");
                            }else if(result==2){
                                alert("删除成功");
                            }else if(result==3){
                                alert("删除失败");
                            }else{
                                alert("数据游玩中……请稍后再试~~~");
                            }
                            //调用属性值，重新查询
                            selthree();
                        }
                    })
				}
                <!--删除属性-->
                function delshu(typeNameId){

                    //判断属性值下是否有商品
                    //如果有商品不得删除
                    //如果没有商品可以删除
                    //获取到商品的父级（一级分类，二级分类，三级分类，属性，属性值）
                    $.ajax({
                        url:"../delTypename",
                        type:"post",
                        data:{typeNameId:typeNameId},
                        dataType:"JSON",
                        success:function(result){
                            if(result==1){
                                alert("该属性下还有商品");
                            }else if(result==2){
                                alert("删除成功");
                            }else if(result==3){
                                alert("删除失败");
                            }else{
                                alert("数据游玩中……请稍后再试~~~");
                            }
                            //调用属性值，重新查询
                            selshu();
                        }
                    })
				}
                <!--删除属性值-->
                /*deleteShowAlert('删除提示', '确定要删除吗？', '确定', '取消', delshuxing());*/
                function delshuxing(shuxing){

                    //判断属性值下是否有商品
                    //如果有商品不得删除
                    //如果没有商品可以删除
                    //获取到商品的父级（一级分类，二级分类，三级分类，属性，属性值）
                    $.ajax({
                        url:"../delTypeValue",
                        type:"post",
                        data:{typeValueId:shuxing},
                        dataType:"JSON",
                        success:function(result){
                            if(result==1){
                                alert("该属性值下还有商品");
                            }else if(result==2){
                                alert("删除成功");
                            }else if(result==3){
                                alert("删除失败");
                            }else{
                                alert("数据游玩中……请稍后再试~~~");
                            }
                            //调用属性值，重新查询
                            selshuxing();
                        }
                    })
                }
                //判断是几级分类的保存
                function upds(){
                    var fen=$(".fen").text();
                    if(fen=="一级分类："){
                        //修改一级分类
                        updone();
					}else if(fen=="二级分类："){
                        updtwo();
					}else if(fen=="三级分类："){
                        updthree();
					}else if(fen=="属性："){
                        updshu();
					}else if(fen=="属性值："){
                        updshuxing();
					}else{
                        alert("出错啦/(ㄒoㄒ)/~~");
					}

				}
                //点击修改一级分类加载修改页面
                function upd(obj) {
                    $(".updonename").val("");
                    $(".fen").text("一级分类：");
                    mask(360, 248, true, "stuInfo");
                    var id= $(obj).parent().parent().find("td").eq(0).html();
                    var name= $(obj).parent().parent().find("td").eq(1).html();
                    $(".updoneyuanname").val(name);
                    $(".updid").val(id);
                }
                //点击修改二级分类加载修改页面
                function upd2(obj) {
                    $(".updonename").val("");
                    $(".fen").text("二级分类：");
                    mask(360, 248, true, "stuInfo");
                    var id= $(obj).parent().parent().find("td").eq(0).html();
                    var name= $(obj).parent().parent().find("td").eq(1).html();
                    $(".updoneyuanname").val(name);
                    $(".updid").val(id);
                }
                //点击修改三级分类加载修改页面
                function upd3(obj) {
                    $(".updonename").val("");
                    $(".fen").text("三级分类：");
                    mask(360, 248, true, "stuInfo");
                    var id= $(obj).parent().parent().find("td").eq(0).html();
                    var name= $(obj).parent().parent().find("td").eq(1).html();
                    $(".updoneyuanname").val(name);
                    $(".updid").val(id);
                }
                //点击修改属性级加载修改页面
                function upd4(obj) {
                    $(".updonename").val("");
                    $(".fen").text("属性：");
                    mask(360, 248, true, "stuInfo");
                    var id= $(obj).parent().parent().find("td").eq(0).html();
                    var name= $(obj).parent().parent().find("td").eq(1).html();
                    $(".updoneyuanname").val(name);
                    $(".updid").val(id);
                }
                //点击修改属性值加载修改页面
                function upd5(obj) {
                    $(".updonename").val("");
                    $(".fen").text("属性值：");
                    mask(360, 248, true, "stuInfo");
                    var id= $(obj).parent().parent().find("td").eq(0).html();
                    var name= $(obj).parent().parent().find("td").eq(1).html();
                    $(".updoneyuanname").val(name);
                    $(".updid").val(id);
                }
                <!--修改一级分类-->
				function updone(){
                    var id=$(".updid").val();
                    var name=$(".updonename").val();
                    if(name==""||name==null){
                        alert("请输入新分类名");
					}else{
                        $.ajax({
                            url:"../updone",
                            type:"post",
                            data:{categoryoneId:id,categoryontName:name},
                            dataType:"JSON",
                            success:function(result){
                                if(result==1){
                                    alert("修改成功");
                                    $(".updonename").val("");
                                    $(".updid").val("");
                                    tableInit(1, pagesize);
                                    closeMask('stuInfo');
                                }else if(result==2){
                                    alert("修改有误");
                                }else if(result==3){
                                    alert("分类已存在请重新输入！");
                                }else{
                                    alert("数据游玩中……请稍后再试~~~");
                                }
                            }
                        })
					}

				}
                <!--修改二级分类-->
                function updtwo(){
                    var id=$(".updid").val();
                    var name=$(".updonename").val();
                    if(name==""||name==null){
                        alert("请输入新分类名");
                    }else{
                        $.ajax({
                            url:"../updtwo",
                            type:"post",
                            data:{categorytwoId:id,categorytwoName:name},
                            dataType:"JSON",
                            success:function(result){
                                if(result==1){
                                    alert("修改成功");
                                    $(".updonename").val("");
                                    $(".updid").val("");
                                    listTwos(one,1);
                                    closeMask('stuInfo');
                                }else if(result==2){
                                    alert("修改有误");
                                }else if(result==3){
                                    alert("分类已存在请重新输入！");
                                }else{
                                    alert("数据游玩中，请稍后再试~~~");
                                }
                            }
                        })
                    }
                }
                <!--修改三级分类-->
                function updthree(){
                    var id=$(".updid").val();
                    var name=$(".updonename").val();
                    if(name==""||name==null){
                        alert("请输入新分类名");
                    }else{
                        $.ajax({
                            url:"../updthree",
                            type:"post",
                            data:{categorythreeId:id,categorythreeName:name},
                            dataType:"JSON",
                            success:function(result){
                                if(result==1){
                                    alert("修改成功");
                                    $(".updonename").val("");
                                    $(".updid").val("");
                                    listThree(two);
                                    closeMask('stuInfo');
                                }else if(result==2){
                                    alert("修改有误");
                                }else if(result==3){
                                    alert("分类已存在请重新输入！");
                                }else{
                                    alert("数据游玩中，请稍后再试~~~");
                                }
                            }
                        })
                    }
                }
                <!--修改属性-->
                function updshu(){
                    var id=$(".updid").val();
                    var name=$(".updonename").val();
                    if(name==""||name==null){
                        alert("请输入新属性名");
                    }else{
                        $.ajax({
                            url:"../updshu",
                            type:"post",
                            data:{typeNameId:id,typeNameName:name},
                            dataType:"JSON",
                            success:function(result){
                                if(result==1){
                                    alert("修改成功");
                                    $(".updonename").val("");
                                    $(".updid").val("");
                                    listshu(three);
                                    closeMask('stuInfo');
                                }else if(result==2){
                                    alert("修改有误");
                                }else if(result==3){
                                    alert("属性已存在请重新输入！");
                                }else{
                                    alert("数据游玩中，请稍后再试~~~");
                                }
                            }
                        })
                    }
                }
                <!--修改属性值级-->
                function updshuxing(){
                    var id=$(".updid").val();
                    var name=$(".updonename").val();
                    if(name==""||name==null){
                        alert("请输入新属性名");
                    }else{
                        $.ajax({
                            url:"../updshuxing",
                            type:"post",
                            data:{typeValueId:id,typeValueName:name},
                            dataType:"JSON",
                            success:function(result){
                                if(result==1){
                                    alert("修改成功");
                                    $(".updonename").val("");
                                    $(".updid").val("");
                                    listshuzhi(shu);
                                    closeMask('stuInfo');
                                }else if(result==2){
                                    alert("修改有误");
                                }else if(result==3){
                                    alert("属性值已存在请重新输入！");
                                }else{
                                    alert("数据游玩中，请稍后再试~~~");
                                }
                            }
                        })
                    }
                }
			</script>
	</body>
</html>