<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" type="text/css" href="/css/backstage/global.css">
    <link rel="stylesheet" type="text/css" href="/css/backstage/tab.css">
    <link rel="stylesheet" type="text/css" href="/css/backstage/table.css">
    <link rel="stylesheet" type="text/css" href="/css/backstage/page.css">
    <link rel="stylesheet" type="text/css" href="/css/backstage/form.css"/>

    <style>

    </style>
</head>

<body>
<div class="container">
    <h1 class="tabTitle"><span onclick="NewPage('table.html')"><img src="/images/backstage/xjt.png"/></span>用户管理</h1>
    <div class="serach">
        <input type="text" class="textStyle" placeholder="请输入搜索内容"
               style="width: 180px;height: 24px;line-height: 24px;"/>
        <input type="button" value="搜索" class="button search" id="nickName"/>
    </div>
    <!--搜索区结束-->
    <div class="info">
        <table cellpadding="0" cellspacing="0" border="0" class="selectTable" id="tableData">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>编号</th>
                <th>会员名</th>
                <th>用户昵称</th>
                <th>性别</th>
                <th>生日</th>
                <th>注册时间</th>
                <th>积分</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td cols pan="11"><img src='/images/backstage/loading.gif'/></td>
            </tr>
            <tr>

            </tr>
            </tbody>
        </table>
        <div class='pageStyle'></div>
    </div>
</div>
</div>
<script type="text/javascript" src='/js/backstage/jquery-3.3.1.min.js'></script>
<script type="text/javascript" src="/js/backstage/global.js"></script>
<script type="text/javascript" src="/js/backstage/table.js"></script>
<script type="text/javascript" src="/js/backstage/tab.js"></script>
<script type="text/javascript">
    $(function () {
        pageOne(null,1);
        $('#nickName').click(function () {
            var nickName=$('.textStyle').val();
            pageOne(nickName,1);
        });
    });

    function show(pageNum){
        pageOne(pageNum);
    }

    /**
     * 按昵称分页查询所有用户
     * @param pageNum
     */
    function pageOne(nickName,pageNum) {
        $.ajax({
            url: "/listUser",
            data: {pageNum: pageNum, pageSize: 10,nickName:nickName},
            dataType: "json",
            type: "get",
            //  async: true,
            success: function (data) {
                var tbody = $('<tbody></tbody>');
                $.each(data.list, function (i, e) {
                    var tr = $('<tr></tr>');
                    tr.append("<td width='2%'><input type='checkbox' name='CheckBox' value='pro1'/></td>");
                    tr.append("<td width='5%'>" + e.userId + "</td>");
                    tr.append("<td width='10%'>" + e.membershipName + "</td>");

                    tr.append("<td width='15%'>" + e.nickName + "</td>");
                    tr.append("<td width='5%'>" + e.sex + "</td>");
                    tr.append("<td width='15%'>" + e.birthday + "</td>");
                    tr.append("<td width='15%'>" + e.createTime + "</td>");
                    tr.append("<td width='5%'>" + e.integral + "</td>");
                    if (e.status == 0) {
                        tr.append("<td width='10%'><a onclick='updatestate(1,this)'>禁用</a></td>");
                    } else {
                        tr.append("<td width='10%'><a onclick='updatestate(0,this)'>启用</a></td>");
                    }

                    tbody.append(tr);
                });
                $('#tableData tbody').replaceWith(tbody);
                showPage(pageNum, data.pages, data.total);
            },
            error: function () {
                alert("出现异常！");
            }

        });
    }

    /**
     * 禁用启用
     * @param userId
     * @param status
     * @param jia
     */
    function updatestate( status, jia) {
        var userId=$(jia).parent().parent().find("td").eq(1).html();
        var obj = $(jia);
        $.ajax({
            url: "/updateStatus",
            data: {userId: userId, status: status},
            dataType: "json",
            type: "post",
            success: function (data) {
                if (data.success) {
                    if (obj.text() == "启用") {
                        obj.text("禁用");
                        pageOne(null,1);
                    } else {
                        obj.text("启用");
                        pageOne(null,1);
                    }
                } else {
                    alert(data.mess);
                }
                /!* pageOne(1);*!/
            },
            error: function () {
                alert("出现异常！");
            }
        })
    }


</script>
</body>

</html>