.user-setting__form{
   line-height: 40px;
    width: 500px;
}

.user-setting__form label{
    font-size: 16px;
    color: #0f0f0f;
    margin-right: 25px;
}

.user-setting__form .user-form-group input{
    border: 1px solid #999;
    height: 35px;
    border-radius: 5px;
    text-indent: 7px;
}

select{
    padding: 5px;
    height: 35px;
    border-radius: 5px;
    outline: none;
}