<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/iconfont.css">
	<link rel="stylesheet" href="css/global.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" href="css/order-comment.css">

	<script src="js/jquery.1.12.4.min.js" charset="UTF-8"></script>
	<script src="js/bootstrap.min.js" charset="UTF-8"></script>
	<script src="js/swiper.min.js" charset="UTF-8"></script>
	<script src="js/global.js" charset="UTF-8"></script>
	<script src="js/jquery.DJMask.2.1.1.js" charset="UTF-8"></script>
	<script charset="utf-8" src="/kindeditor-4.1.10/kindeditor.js"></script>
	<script charset="utf-8" src="/kindeditor-4.1.10/lang/zh-CN.js"></script>
	<script charset="utf-8" src="/kindeditor-4.1.10/plugins/code/prettify.js"></script>
	<script>
		KindEditor.ready(function(K) {
			window.editorProduct=K.create('#editorProduct', {
				cssPath : '/kindeditor-4.1.10/plugins/code/prettify.css',
				uploadJson : '/fileUploadComment',
				/* fileManagerJson : '/fileManager',*/
				allowFileManager : true,
				urlType:'domin'
			});

			//评论的图片
			$('.image').on("click",".ztphoto",function(){
                var j=$(".image img").index($(this));
                var id=$(this).attr("id");
				editorProduct.loadPlugin('multiimage', function() {
					editorProduct.plugin.multiImageDialog({
						clickFn : function(urlList) {
							var li ="";
							K.each(urlList, function(i, data) {
                                if(id==1){
                                    li+='<img id="0" class="ztphoto" width="80px" height="80px" src="'+data.url+'"/>';
                                }else{
                                    $(".image img").eq(j).attr("src",data.url);
                                }
							});
							if(id==1){
                                $(".image").find("td").eq(1).html(li);
							}
							editorProduct.hideDialog();
						}
					});
				});
			});
        });


	</script>
	<title>U袋网</title>
</head>
<body>
<!-- 顶部tab -->
<div class="tab-header">
	<div class="inner">
		<div class="pull-left">
			<div class="pull-left">嗨，欢迎来到<span class="cr">U袋网</span></div>
			<a href="agent_level.html">网店代销</a>
			<a href="temp_article/udai_article4.html">帮助中心</a>
		</div>
		<div class="pull-right">
			<a href="login.html"><span class="cr">登录</span></a>
			<a href="login.html?p=register">注册</a>
			<a href="udai_welcome.html">我的U袋</a>
			<a href="udai_order.html">我的订单</a>
			<a href="udai_integral.html">积分平台</a>
		</div>
	</div>
</div>
<!-- 顶部标题 -->
<div class="bgf5 clearfix">
	<div class="top-user">
		<div class="inner">
			<a class="logo" href="index.html"><img src="images/icons/logo.jpg" alt="U袋网" class="cover"></a>
			<div class="title">个人中心</div>
		</div>
	</div>
</div>
<div class="content clearfix bgf5">
	<section class="user-center inner clearfix">
		<div class="pull-left bgf">
			<a href="udai_welcome.html" class="title">U袋欢迎页</a>
			<dl class="user-center__nav">
				<dt>帐户信息</dt>
				<a href="udai_setting.html"><dd>个人资料</dd></a>
				<a href="udai_treasurer.html"><dd>资金管理</dd></a>
				<a href="udai_integral.html"><dd>积分平台</dd></a>
				<a href="udai_address.html"><dd>收货地址</dd></a>
				<a href="udai_coupon.html"><dd>我的优惠券</dd></a>
				<a href="udai_paypwd_modify.html"><dd>修改支付密码</dd></a>
				<a href="udai_pwd_modify.html"><dd>修改登录密码</dd></a>
			</dl>
			<dl class="user-center__nav">
				<dt>订单中心</dt>
				<a href="udai_order.html"><dd class="active">我的订单</dd></a>
				<a href="udai_collection.html">
					<dd>我的评论</dd>
				</a>
				<!--<a href="udai_refund.html"><dd>退款/退货</dd></a>-->
			</dl>
			<dl class="user-center__nav">
				<dt>服务中心</dt>
				<a href="udai_mail_query.html"><dd>物流查询</dd></a>
				<a href=""><dd>数据自助下载</dd></a>
				<a href="temp_article/udai_article1.html"><dd>售后服务</dd></a>
				<a href="temp_article/udai_article2.html"><dd>配送服务</dd></a>
				<a href="temp_article/udai_article3.html"><dd>用户协议</dd></a>
				<a href="temp_article/udai_article4.html"><dd>常见问题</dd></a>
			</dl>
			<dl class="user-center__nav">
				<dt>新手上路</dt>
				<a href="temp_article/udai_article5.html"><dd>如何成为代理商</dd></a>
				<a href="temp_article/udai_article6.html"><dd>代销商上架教程</dd></a>
				<a href="temp_article/udai_article7.html"><dd>分销商常见问题</dd></a>
				<a href="temp_article/udai_article8.html"><dd>付款账户</dd></a>
			</dl>
			<dl class="user-center__nav">
				<dt>U袋网</dt>
				<a href="temp_article/udai_article10.html"><dd>企业简介</dd></a>
				<a href="temp_article/udai_article11.html"><dd>加入U袋</dd></a>
				<a href="temp_article/udai_article12.html"><dd>隐私说明</dd></a>
			</dl>
		</div>
		<div class="pull-right">
			<div class="user-content__box clearfix bgf">
				<div class="title">订单中心-评价</div>
				<div class="commentimg">
					<img src="" width="358px" height="358px">
				</div>
				<div class="commenttext">
					<ul>
						<li style="font-size: 18px;font-weight: bold;color: #000">姓名</li>
						<li>价格 <span>￥158</span></li>
						<li>配送 <span>快递：0.0</span></li>
						<div class="commenttext1">
							<p style="color: #8d7664;">规格 <span>12瓶</span></p>

							<div class="commenttext2">
								<p>现在查看的是 您所购买商品的信息</p>
								<p>于<lable>2018年6月25日</lable>下单购买的此商品</p>
							</div>
						</div>
					</ul>
				</div>

				<div class="comment">
					<p class="p1">认真写评价说不定会有惊喜哦！</p>
					<p class="p2">其他买家需要你的建议哦！</p>
					<div class="comment1">
						<table border="1px">
							<tr>
								<td style="width: 300px;height: 100px;text-align: center;background-color: #efefef">
									评价
								</td>
								<td style="width: 650px">
									<div class="test_box" contenteditable="true"></div>
								</td>
							</tr>
							<tr class="image">
								<td style="height: 80px;text-align: center;;background-color: #efefef">
									晒图
								</td>
								<td>
									<img id="1" class="ztphoto" width="80px" height="80px" weight="10" src="/images/backstage/upload.png" alt="商品图片">
								</td>
							</tr>
						</table>
					</div>
					<div class="comment2">
						<ul>
							<li><input type="radio" name="radio" value="1">&nbsp;&nbsp;好评</li>
							<li><input type="radio" name="radio" value="2">&nbsp;&nbsp;中评</li>
							<li><input type="radio" name="radio" value="3">&nbsp;&nbsp;差评</li>
						</ul>

					</div>
					<input type="button" value="提交评论" class="btn1" >
				</div>
			</div>
		</div>
	</section>
</div>
<textarea id="editorProduct" name="content" style="display:none;">
                </textarea>
<!-- 右侧菜单 -->
<div class="right-nav">
	<ul class="r-with-gotop">
		<li class="r-toolbar-item">
			<a href="udai_welcome.html" class="r-item-hd">
				<i class="iconfont icon-user" data-badge="0"></i>
				<div class="r-tip__box"><span class="r-tip-text">用户中心</span></div>
			</a>
		</li>
		<li class="r-toolbar-item">
			<a href="udai_shopcart.html" class="r-item-hd">
				<i class="iconfont icon-cart"></i>
				<div class="r-tip__box"><span class="r-tip-text">购物车</span></div>
			</a>
		</li>
		<li class="r-toolbar-item">
			<a href="udai_collection.html" class="r-item-hd">
				<i class="iconfont icon-aixin"></i>
				<div class="r-tip__box"><span class="r-tip-text">我的收藏</span></div>
			</a>
		</li>
		<li class="r-toolbar-item">
			<a href="" class="r-item-hd">
				<i class="iconfont icon-liaotian"></i>
				<div class="r-tip__box"><span class="r-tip-text">联系客服</span></div>
			</a>
		</li>
		<li class="r-toolbar-item">
			<a href="issues.html" class="r-item-hd">
				<i class="iconfont icon-liuyan"></i>
				<div class="r-tip__box"><span class="r-tip-text">留言反馈</span></div>
			</a>
		</li>
		<li class="r-toolbar-item to-top">
			<i class="iconfont icon-top"></i>
			<div class="r-tip__box"><span class="r-tip-text">返回顶部</span></div>
		</li>
	</ul>
	<script>
		$(document).ready(function(){ $('.to-top').toTop({position:false}) });
	</script>
</div>
<!-- 底部信息 -->
<div class="footer">
	<div class="footer-tags">
		<div class="tags-box inner">
			<div class="tag-div">
				<img src="images/icons/footer_1.gif" alt="厂家直供">
			</div>
			<div class="tag-div">
				<img src="images/icons/footer_2.gif" alt="一件代发">
			</div>
			<div class="tag-div">
				<img src="images/icons/footer_3.gif" alt="美工活动支持">
			</div>
			<div class="tag-div">
				<img src="images/icons/footer_4.gif" alt="信誉认证">
			</div>
		</div>
	</div>

	<div class="copy-box clearfix">
		<ul class="copy-links">
			<a href="agent_level.html"><li>网店代销</li></a>
			<a href="class_room.html"><li>U袋学堂</li></a>
			<a href="udai_about.html"><li>联系我们</li></a>
			<a href="temp_article/udai_article10.html"><li>企业简介</li></a>
			<a href="temp_article/udai_article5.html"><li>新手上路</li></a>
		</ul>
		<!-- 版权 -->
		<p class="copyright">
			© 2005-2017 U袋网 版权所有，并保留所有权利<br>
			ICP备案证书号：闽ICP备16015525号-2&nbsp;&nbsp;&nbsp;&nbsp;福建省宁德市福鼎市南下村小区（锦昌阁）1栋1梯602室&nbsp;&nbsp;&nbsp;&nbsp;Tel: 18650406668&nbsp;&nbsp;&nbsp;&nbsp;E-mail: 18650406668@qq.com
		</p>
	</div>
</div>
</body>
</html>
<script>
	$(function(){
        GetCommentByorder();
        $(".btn1").click(function(){
            var radio1=null;
            var commentText=null;
            var radio = document.getElementsByName("radio");
            var skuId=$("[name='skuId']").val();
            var orderId=$("[name='orderId']").val();
            for (i=0; i<radio.length; i++) {
                if (radio[i].checked) {
                    radio1=radio[i].value;
                }
            }
            var img= $(".ztphoto").attr("src");
            commentText=$(".test_box").html();
            if(commentText==null||commentText==""){
                alert("请输入评论内容")
                return;
            }
            if(radio1==null||radio1==""){
                alert("请选择评论等级")
                return;
            }
			alert(orderId);

            $.ajax({
                url:"/insertComment",
                type:"post",
                data:{"orderId":orderId,content:commentText,spareOne:radio1,imagePath:img,"skuId":skuId},
                dataType:"json",
                success:function (data) {
                    alert(data);
                    if (data.mes=="mes"){
                        //成功之后再html页面跳转到王磊写的我的评论页面
                        location.href="/udai_collection.html";
                    }else{
                        //失败留在本页面
						alert("评论失败！");
                    }
                },error:function () {
                    alert("评论失败");
                }
            })
        })
	});
	function GetCommentByorder(){
	    $.ajax({
			url:"/GetCommentByorder",
			dataType:"json",
			type:"post",
			success:function(result){

			    var array=result.commodities[0].sk.skuId;
			    var orderI =result.orderId.toFixed();
                alert(orderI);
				var content="<ul><input type='hidden' value='"+array+"' name='skuId'/><input type='hidden' value='"+orderI+"' name='orderId'/>" +
                    "<li style=\"font-size: 18px;font-weight: bold;color: #000\">"+result.commodities[0].sk.products[0].productName+"</li>\n" +
                    "<li>价格 <span>￥"+result.commodities[0].sk.presentPrice+"</span></li>" +
                    "<li>配送 <span>快递：0.0</span></li>" +
                    "<div class=\"commenttext1\">";
						$.each(result.commodities[0].sk.SkuValueList,function(i,e){
							content+="<p style=\"color: #8d7664;\">"+e.skuName.skunameeValue+"<span>"+e.skuvalueValue+"</span></p>";
						});
                var paymentTimes=result.paymentTime;
                var d = new Date(paymentTimes);
                var times=d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
                content+="<div class=\"commenttext2\">" +
                    "<p>现在查看的是 您所购买商品的信息</p>" +
                    "<p>于<lable>"+times+"</lable>下单购买的此商品</p>" +
                    "</div>\n" +
                    "</div>\n" +
                    "</ul>";
                var image=result.commodities[0].sk.products[0].images[0].imagePath;
                $(".commentimg").find("img").attr("src",image);
				$(".commenttext").html(content);
			},error:function(result){
			    alert("评论读取失败");
			}
		});
	}
</script>