<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/jquery.1.12.4.min.js" charset="UTF-8"></script>
    <script src="js/bootstrap.min.js" charset="UTF-8"></script>
    <script src="js/swiper.min.js" charset="UTF-8"></script>
    <script src="js/global.js" charset="UTF-8"></script>
    <script src="js/jquery.DJMask.2.1.1.js" charset="UTF-8"></script>
    <script src="js/backstage/table.js" charset="UTF-8"></script>
    <title>凡诺网</title>
</head>
<body>
<!-- 顶部tab -->
<div class="tab-header">
    <div class="inner">
        <div class="pull-left">
            <div class="pull-left">嗨，欢迎来到<span class="cr">凡诺网</span></div>
            <a href="agent_level.html">网店代销</a>
            <a href="temp_article/udai_article4.html">帮助中心</a>
        </div>
        <div class="pull-right">
            <a href="login.html"><span class="cr">登录</span></a>
            <a href="login.html?p=register">注册</a>
            <a href="udai_welcome.html">我的凡诺</a>
            <a href="udai_order.html">我的订单</a>
            <a href="udai_integral.html">积分平台</a>
        </div>
    </div>
</div>
<!-- 顶部标题 -->
<div class="bgf5 clearfix">
    <div class="top-user">
        <div class="inner">
            <a class="logo" href="index.html"><img src="images/icons/logo.jpg" alt="凡诺网" class="cover"></a>
            <div class="title">个人中心</div>
        </div>
    </div>
</div>
<div class="content clearfix bgf5">
    <section class="user-center inner clearfix">
        <div class="pull-left bgf">
            <a href="udai_welcome.html" class="title">凡诺欢迎页</a>
            <dl class="user-center__nav">
                <dt>帐户信息</dt>
                <a href="udai_setting.html">
                    <dd>个人资料</dd>
                </a>
                <a href="udai_treasurer.html">
                    <dd>资金管理</dd>
                </a>
                <a href="udai_integral.html">
                    <dd>积分平台</dd>
                </a>
                <a href="udai_address.html">
                    <dd>收货地址</dd>
                </a>
                <a href="udai_coupon.html">
                    <dd>我的优惠券</dd>
                </a>
                <a href="udai_paypwd_modify.html">
                    <dd>修改支付密码</dd>
                </a>
                <a href="udai_pwd_modify.html">
                    <dd>修改登录密码</dd>
                </a>
            </dl>
            <dl class="user-center__nav">
                <dt>订单中心</dt>
                <a href="udai_order.html">
                    <dd class="active">我的订单</dd>
                </a>

                <a href="udai_collection.html">
                    <dd>我的评论</dd>
                </a>
                <a href="udai_refund.html">
                    <dd>退款/退货</dd>
                </a>
            </dl>
            <dl class="user-center__nav">
                <dt>服务中心</dt>
                <a href="udai_mail_query.html">
                    <dd>物流查询</dd>
                </a>
                <a href="">
                    <dd>数据自助下载</dd>
                </a>
                <a href="temp_article/udai_article1.html">
                    <dd>售后服务</dd>
                </a>
                <a href="temp_article/udai_article2.html">
                    <dd>配送服务</dd>
                </a>
                <a href="temp_article/udai_article3.html">
                    <dd>用户协议</dd>
                </a>
                <a href="temp_article/udai_article4.html">
                    <dd>常见问题</dd>
                </a>
            </dl>
           <!-- <dl class="user-center__nav">
                <dt>新手上路</dt>
                <a href="temp_article/udai_article5.html">
                    <dd>如何成为代理商</dd>
                </a>
                <a href="temp_article/udai_article6.html">
                    <dd>代销商上架教程</dd>
                </a>
                <a href="temp_article/udai_article7.html">
                    <dd>分销商常见问题</dd>
                </a>
                <a href="temp_article/udai_article8.html">
                    <dd>付款账户</dd>
                </a>
            </dl>-->
            <dl class="user-center__nav">
                <dt>凡诺网</dt>
                <a href="temp_article/udai_article10.html">
                    <dd>企业简介</dd>
                </a>
                <a href="temp_article/udai_article11.html">
                    <dd>加入凡诺</dd>
                </a>
                <a href="temp_article/udai_article12.html">
                    <dd>隐私说明</dd>
                </a>
            </dl>
        </div>
        <div class="pull-right">
            <div class="user-content__box clearfix bgf">
                <div class="title">订单中心-我的订单</div>
                <div class="order-list__box bgf">
                    <div class="order-panel">
                        <ul class="nav user-nav__title" role="tablist">
                            <li role="presentation" class="nav-item active"><a href="#all" onclick="statu(null)" aria-controls="all"
                                                                               role="tab" data-toggle="tab">所有订单</a>
                            </li>
                            <li role="presentation" class="nav-item "><a href="#all" onclick="statu(1)" aria-controls="pay" role="tab"
                                                                         data-toggle="tab">待付款 <span class="cr">0</span></a>
                            </li>
                            <li role="presentation" class="nav-item "><a href="#all" onclick="statu(2)" aria-controls="emit" role="tab"
                                                                         data-toggle="tab">待发货 <span class="cr">0</span></a>
                            </li>
                            <li role="presentation" class="nav-item "><a href="#all"onclick="statu(3)" aria-controls="take" role="tab"
                                                                         data-toggle="tab">待收货 <span class="cr">0</span></a>
                            </li>
                            <li role="presentation" class="nav-item "><a href="#all" onclick="statu(9)" aria-controls="eval" role="tab"
                                                                         data-toggle="tab">待评价 <span class="cr">0</span></a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="all">
                                <table class="table text-center">
                                    <tr>
                                        <th width="380">商品信息</th>
                                        <th width="85">单价</th>
                                        <th width="85">数量</th>
                                        <th width="120">实付款</th>
                                        <th width="120">交易状态</th>
                                        <th width="120">交易操作</th>
                                    </tr>
                                    <tr class="order-item">
                                        <td>
                                            <label>
                                                <a href="udai_order_detail.html" class="num">
                                                    2017-03-30 订单号: 2669901385864042
                                                </a>
                                                <div class="card">
                                                    <div class="img"><img src="images/temp/item-img_1.jpg" alt=""
                                                                          class="cover"></div>
                                                    <div class="name ep2">纯色圆领短袖T恤活动衫弹力柔软纯色圆领短袖T恤</div>
                                                    <div class="format">颜色分类：深棕色 尺码：均码</div>
                                                    <div class="favour">使用优惠券：优惠¥2.00</div>
                                                </div>
                                            </label>
                                        </td>
                                        <td>￥100</td>
                                        <td>1</td>
                                        <td>￥1000<br><span class="fz12 c6 text-nowrap">(含运费: ¥0.00)</span></td>
                                        <td class="state">
                                            <a class="but c6">等待付款</a>
                                            <a href="udai_order_detail.html" class="but c9">订单详情</a>
                                        </td>
                                        <td class="order">
                                            <div class="del"><span class="glyphicon glyphicon-trash"
                                                                   aria-hidden="true"></span></div>
                                            <a href="udai_shopcart_pay.html" class="but but-primary">立即付款</a>
                                            <!-- <a href="" class="but but-link">评价</a> -->
                                            <a href="" class="but c3">取消订单</a>
                                        </td>
                                    </tr>
                                    <tr class="order-item">
                                        <td>
                                            <label>
                                                <a href="udai_order_detail.html" class="num">
                                                    2017-03-30 订单号: 2669901385864042
                                                </a>
                                                <div class="card">
                                                    <div class="img"><img src="images/temp/item-img_1.jpg" alt=""
                                                                          class="cover"></div>
                                                    <div class="name ep2">纯色圆领短袖T恤活动衫弹力柔软纯色圆领短袖T恤</div>
                                                    <div class="format">颜色分类：深棕色 尺码：均码</div>
                                                    <div class="favour">使用优惠券：优惠¥2.00</div>
                                                </div>
                                            </label>
                                        </td>
                                        <td>￥100</td>
                                        <td>1</td>
                                        <td>￥1000<br><span class="fz12 c6 text-nowrap">(含运费: ¥0.00)</span></td>
                                        <td class="state">
                                            <a class="but c6">等待收货</a>
                                            <a href="udai_mail_query.html" class="but cr">查看物流</a>
                                            <a href="udai_order_detail.html" class="but c9">订单详情</a>
                                        </td>
                                        <td class="order">
                                            <div class="del"><span class="glyphicon glyphicon-trash"
                                                                   aria-hidden="true"></span></div>
                                            <a href="udai_order_receipted.html" class="but but-primary">确认收货</a>
                                            <!-- <a href="" class="but but-link">评价</a> -->
                                            <a href="udai_apply_return.html" class="but c3">退款/退货</a>
                                        </td>
                                    </tr>
                                    <tr class="order-item">
                                        <td>
                                            <label>
                                                <a href="udai_order_detail.html" class="num">
                                                    2017-03-30 订单号: 2669901385864042
                                                </a>
                                                <div class="card">
                                                    <div class="img"><img src="images/temp/item-img_1.jpg" alt=""
                                                                          class="cover"></div>
                                                    <div class="name ep2">纯色圆领短袖T恤活动衫弹力柔软纯色圆领短袖T恤</div>
                                                    <div class="format">颜色分类：深棕色 尺码：均码</div>
                                                    <div class="favour">使用优惠券：优惠¥2.00</div>
                                                </div>
                                            </label>
                                        </td>
                                        <td>￥100</td>
                                        <td>1</td>
                                        <td>￥1000<br><span class="fz12 c6 text-nowrap">(含运费: ¥0.00)</span></td>
                                        <td class="state">
                                            <a class="but c6">交易成功</a>
                                            <a href="udai_mail_query.html" class="but cr">查看物流</a>
                                            <a href="udai_order_detail.html" class="but c9">订单详情</a>
                                        </td>
                                        <td class="order">
                                            <div class="del"><span class="glyphicon glyphicon-trash"
                                                                   aria-hidden="true"></span></div>
                                            <a href="" class="but but-link">评价</a>
                                            <a href="" class="but c3">取消订单</a>
                                        </td>
                                    </tr>
                                    <tr class="order-item">
                                        <td>
                                            <label>
                                                <a href="udai_order_detail.html" class="num">
                                                    2017-03-30 订单号: 2669901385864042
                                                </a>
                                                <div class="card">
                                                    <div class="img"><img src="images/temp/item-img_1.jpg" alt=""
                                                                          class="cover"></div>
                                                    <div class="name ep2">纯色圆领短袖T恤活动衫弹力柔软纯色圆领短袖T恤</div>
                                                    <div class="format">颜色分类：深棕色 尺码：均码</div>
                                                    <div class="favour">使用优惠券：优惠¥2.00</div>
                                                </div>
                                            </label>
                                        </td>
                                        <td>￥100</td>
                                        <td>1</td>
                                        <td>￥1000<br><span class="fz12 c6 text-nowrap">(含运费: ¥0.00)</span></td>
                                        <td class="state">
                                            <a class="but c6">交易成功</a>
                                            <a href="udai_mail_query.html" class="but cr">查看物流</a>
                                            <a href="udai_order_detail.html" class="but c9">订单详情</a>
                                        </td>
                                        <td class="order">
                                            <div class="del"><span class="glyphicon glyphicon-trash"
                                                                   aria-hidden="true"></span></div>
                                            <a href="" class="but but-link">评价</a>
                                            <a href="" class="but c3">取消订单</a>
                                        </td>
                                    </tr>
                                    <tr class="order-item">
                                        <td>
                                            <label>
                                                <a href="udai_order_detail.html" class="num">
                                                    2017-03-30 订单号: 2669901385864042
                                                </a>
                                                <div class="card">
                                                    <div class="img"><img src="images/temp/item-img_1.jpg" alt=""
                                                                          class="cover"></div>
                                                    <div class="name ep2">纯色圆领短袖T恤活动衫弹力柔软纯色圆领短袖T恤</div>
                                                    <div class="format">颜色分类：深棕色 尺码：均码</div>
                                                    <div class="favour">使用优惠券：优惠¥2.00</div>
                                                </div>
                                            </label>
                                        </td>
                                        <td>￥100</td>
                                        <td>1</td>
                                        <td>￥1000<br><span class="fz12 c6 text-nowrap">(含运费: ¥0.00)</span></td>
                                        <td class="state">
                                            <a class="but c6">交易成功</a>
                                            <a href="udai_mail_query.html" class="but cr">查看物流</a>
                                            <a href="udai_order_detail.html" class="but c9">订单详情</a>
                                        </td>
                                        <td class="order">
                                            <div class="del"><span class="glyphicon glyphicon-trash"
                                                                   aria-hidden="true"></span></div>
                                            <a href="" class="but but-link">评价</a>
                                            <a href="" class="but c3">取消订单</a>
                                        </td>
                                    </tr>
                                </table>
                                <div class="page text-right clearfix" style="margin-top: 40px" id="stylepage">
                                    <a class="disabled">上一页</a>
                                    <a class="select">1</a>
                                    <a href="">2</a>
                                    <a href="">3</a>
                                    <a class="" href="">下一页</a>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="pay">
                                <table class="table text-center">
                                    <tr>
                                        <th width="380">商品信息</th>
                                        <th width="85">单价</th>
                                        <th width="85">数量</th>
                                        <th width="120">实付款</th>
                                        <th width="120">交易状态</th>
                                        <th width="120">交易操作</th>
                                    </tr>
                                    <tr class="order-empty">
                                        <td colspan='6'>
                                            <div class="empty-msg">最近没有任何订单，家里好像缺了点什么！<br><a href="item_category.html">要不瞧瞧去？</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="emit">
                                <table class="table text-center">
                                    <tr>
                                        <th width="380">商品信息</th>
                                        <th width="85">单价</th>
                                        <th width="85">数量</th>
                                        <th width="120">实付款</th>
                                        <th width="120">交易状态</th>
                                        <th width="120">交易操作</th>
                                    </tr>
                                    <tr class="order-item">
                                        <td>
                                            <label>
                                                <a href="udai_order_detail.html" class="num">
                                                    2017-03-30 订单号: 2669901385864042
                                                </a>
                                                <div class="card">
                                                    <div class="img"><img src="images/temp/item-img_1.jpg" alt=""
                                                                          class="cover"></div>
                                                    <div class="name ep2">纯色圆领短袖T恤活动衫弹力柔软纯色圆领短袖T恤</div>
                                                    <div class="format">颜色分类：深棕色 尺码：均码</div>
                                                    <div class="favour">使用优惠券：优惠¥2.00</div>
                                                </div>
                                            </label>
                                        </td>
                                        <td>￥100</td>
                                        <td>1</td>
                                        <td>￥1000<br><span class="fz12 c6 text-nowrap">(含运费: ¥0.00)</span></td>
                                        <td class="state">
                                            <a class="but c6">等待发货</a>
                                            <a href="udai_order_detail.html" class="but c9">订单详情</a>
                                        </td>
                                        <td class="order">
                                            <div class="del"><span class="glyphicon glyphicon-trash"
                                                                   aria-hidden="true"></span></div>
                                            <a href="udai_order_receipted.html" class="but but-primary">确认收货</a>
                                            <a href="udai_apply_return.html" class="but c3">退款/退货</a>
                                        </td>
                                    </tr>
                                    <tr class="order-item">
                                        <td>
                                            <label>
                                                <a href="udai_order_detail.html" class="num">
                                                    2017-03-30 订单号: 2669901385864042
                                                </a>
                                                <div class="card">
                                                    <div class="img"><img src="images/temp/item-img_1.jpg" alt=""
                                                                          class="cover"></div>
                                                    <div class="name ep2">纯色圆领短袖T恤活动衫弹力柔软纯色圆领短袖T恤</div>
                                                    <div class="format">颜色分类：深棕色 尺码：均码</div>
                                                    <div class="favour">使用优惠券：优惠¥2.00</div>
                                                </div>
                                            </label>
                                        </td>
                                        <td>￥100</td>
                                        <td>1</td>
                                        <td>￥1000<br><span class="fz12 c6 text-nowrap">(含运费: ¥0.00)</span></td>
                                        <td class="state">
                                            <a class="but c6">等待发货</a>
                                            <a href="udai_order_detail.html" class="but c9">订单详情</a>
                                        </td>
                                        <td class="order">
                                            <div class="del"><span class="glyphicon glyphicon-trash"
                                                                   aria-hidden="true"></span></div>
                                            <a href="udai_order_receipted.html" class="but but-primary">确认收货</a>
                                            <a href="udai_apply_return.html" class="but c3">退款/退货</a>
                                        </td>
                                    </tr>
                                    <tr class="order-item">
                                        <td>
                                            <label>
                                                <a href="udai_order_detail.html" class="num">
                                                    2017-03-30 订单号: 2669901385864042
                                                </a>
                                                <div class="card">
                                                    <div class="img"><img src="images/temp/item-img_1.jpg" alt=""
                                                                          class="cover"></div>
                                                    <div class="name ep2">纯色圆领短袖T恤活动衫弹力柔软纯色圆领短袖T恤</div>
                                                    <div class="format">颜色分类：深棕色 尺码：均码</div>
                                                    <div class="favour">使用优惠券：优惠¥2.00</div>
                                                </div>
                                            </label>
                                        </td>
                                        <td>￥100</td>
                                        <td>1</td>
                                        <td>￥1000<br><span class="fz12 c6 text-nowrap">(含运费: ¥0.00)</span></td>
                                        <td class="state">
                                            <a class="but c6">等待发货</a>
                                            <a href="udai_order_detail.html" class="but c9">订单详情</a>
                                        </td>
                                        <td class="order">
                                            <div class="del"><span class="glyphicon glyphicon-trash"
                                                                   aria-hidden="true"></span></div>
                                            <a href="udai_order_receipted.html" class="but but-primary">确认收货</a>
                                            <a href="udai_apply_return.html" class="but c3">退款/退货</a>
                                        </td>
                                    </tr>
                                </table>
                                <div class="page text-right clearfix" style="margin-top: 40px">
                                    <a class="disabled">上一页</a>
                                    <a class="select">1</a>
                                    <a class="disabled">下一页</a>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="take">
                                <table class="table text-center">
                                    <tr>
                                        <th width="380">商品信息</th>
                                        <th width="85">单价</th>
                                        <th width="85">数量</th>
                                        <th width="120">实付款</th>
                                        <th width="120">交易状态</th>
                                        <th width="120">交易操作</th>
                                    </tr>
                                    <tr class="order-empty">
                                        <td colspan='6'>
                                            <div class="empty-msg">最近没有任何订单，家里好像缺了点什么！<br><a href="item_category.html">要不瞧瞧去？</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="eval">
                                <table class="table text-center">
                                    <tr>
                                        <th width="380">商品信息</th>
                                        <th width="85">单价</th>
                                        <th width="85">数量</th>
                                        <th width="120">实付款</th>
                                        <th width="120">交易状态</th>
                                        <th width="120">交易操作</th>
                                    </tr>
                                    <tr class="order-item">
                                        <td>
                                            <label>
                                                <a href="udai_order_detail.html" class="num">
                                                    2017-03-30 订单号: 2669901385864042
                                                </a>
                                                <div class="card">
                                                    <div class="img"><img src="images/temp/item-img_1.jpg" alt=""
                                                                          class="cover"></div>
                                                    <div class="name ep2">纯色圆领短袖T恤活动衫弹力柔软纯色圆领短袖T恤</div>
                                                    <div class="format">颜色分类：深棕色 尺码：均码</div>
                                                    <div class="favour">使用优惠券：优惠¥2.00</div>
                                                </div>
                                            </label>
                                        </td>
                                        <td>￥100</td>
                                        <td>1</td>
                                        <td>￥1000<br><span class="fz12 c6 text-nowrap">(含运费: ¥0.00)</span></td>
                                        <td class="state">
                                            <a class="but c6">交易成功</a>
                                            <a href="udai_mail_query.html" class="but cr">查看物流</a>
                                            <a href="udai_order_detail.html" class="but c9">订单详情</a>
                                        </td>
                                        <td class="order">
                                            <div class="del"><span class="glyphicon glyphicon-trash"
                                                                   aria-hidden="true"></span></div>
                                            <a href="" class="but but-link">评价</a>
                                            <a href="" class="but c3">取消订单</a>
                                        </td>
                                    </tr>
                                    <tr class="order-item">
                                        <td>
                                            <label>
                                                <a href="udai_order_detail.html" class="num">
                                                    2017-03-30 订单号: 2669901385864042
                                                </a>
                                                <div class="card">
                                                    <div class="img"><img src="images/temp/item-img_1.jpg" alt=""
                                                                          class="cover"></div>
                                                    <div class="name ep2">纯色圆领短袖T恤活动衫弹力柔软纯色圆领短袖T恤</div>
                                                    <div class="format">颜色分类：深棕色 尺码：均码</div>
                                                    <div class="favour">使用优惠券：优惠¥2.00</div>
                                                </div>
                                            </label>
                                        </td>
                                        <td>￥100</td>
                                        <td>1</td>
                                        <td>￥1000<br><span class="fz12 c6 text-nowrap">(含运费: ¥0.00)</span></td>
                                        <td class="state">
                                            <a class="but c6">交易成功</a>
                                            <a href="udai_mail_query.html" class="but cr">查看物流</a>
                                            <a href="udai_order_detail.html" class="but c9">订单详情</a>
                                        </td>
                                        <td class="order">
                                            <div class="del"><span class="glyphicon glyphicon-trash"
                                                                   aria-hidden="true"></span></div>
                                            <a href="" class="but but-link">评价</a>
                                            <a href="" class="but c3">取消订单</a>
                                        </td>
                                    </tr>
                                    <tr class="order-item">
                                        <td>
                                            <label>
                                                <a href="udai_order_detail.html" class="num">
                                                    2017-03-30 订单号: 2669901385864042
                                                </a>
                                                <div class="card">
                                                    <div class="img"><img src="images/temp/item-img_1.jpg" alt=""
                                                                          class="cover"></div>
                                                    <div class="name ep2">纯色圆领短袖T恤活动衫弹力柔软纯色圆领短袖T恤</div>
                                                    <div class="format">颜色分类：深棕色 尺码：均码</div>
                                                    <div class="favour">使用优惠券：优惠¥2.00</div>
                                                </div>
                                            </label>
                                        </td>
                                        <td>￥100</td>
                                        <td>1</td>
                                        <td>￥1000<br><span class="fz12 c6 text-nowrap">(含运费: ¥0.00)</span></td>
                                        <td class="state">
                                            <a class="but c6">交易成功</a>
                                            <a href="udai_mail_query.html" class="but cr">查看物流</a>
                                            <a href="udai_order_detail.html" class="but c9">订单详情</a>
                                        </td>
                                        <td class="order">
                                            <div class="del"><span class="glyphicon glyphicon-trash"
                                                                   aria-hidden="true"></span></div>
                                            <a href="" class="but but-link">评价</a>
                                            <a href="" class="but c3">取消订单</a>
                                        </td>
                                    </tr>
                                </table>
                                <div class="page text-right clearfix" style="margin-top: 40px">
                                    <a class="disabled">上一页</a>
                                    <a class="select">1</a>
                                    <a class="disabled">下一页</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<!-- 右侧菜单 -->
<div class="right-nav">
    <ul class="r-with-gotop">
        <li class="r-toolbar-item">
            <a href="udai_welcome.html" class="r-item-hd">
                <i class="iconfont icon-user" data-badge="0"></i>
                <div class="r-tip__box"><span class="r-tip-text">用户中心</span></div>
            </a>
        </li>
        <li class="r-toolbar-item">
            <a href="udai_shopcart.html" class="r-item-hd">
                <i class="iconfont icon-cart"></i>
                <div class="r-tip__box"><span class="r-tip-text">购物车</span></div>
            </a>
        </li>
        <li class="r-toolbar-item">
            <a href="udai_collection.html" class="r-item-hd">
                <i class="iconfont icon-aixin"></i>
                <div class="r-tip__box"><span class="r-tip-text">我的收藏</span></div>
            </a>
        </li>
        <li class="r-toolbar-item">
            <a href="" class="r-item-hd">
                <i class="iconfont icon-liaotian"></i>
                <div class="r-tip__box"><span class="r-tip-text">联系客服</span></div>
            </a>
        </li>
        <li class="r-toolbar-item">
            <a href="issues.html" class="r-item-hd">
                <i class="iconfont icon-liuyan"></i>
                <div class="r-tip__box"><span class="r-tip-text">留言反馈</span></div>
            </a>
        </li>
        <li class="r-toolbar-item to-top">
            <i class="iconfont icon-top"></i>
            <div class="r-tip__box"><span class="r-tip-text">返回顶部</span></div>
        </li>
    </ul>
    <script>
        $(document).ready(function () {
            $('.to-top').toTop({position: false})
        });
    </script>
</div>
<!-- 底部信息 -->
<div class="footer">
    <div class="footer-tags">
        <div class="tags-box inner">
            <div class="tag-div">
                <img src="images/icons/footer_1.gif" alt="厂家直供">
            </div>
            <div class="tag-div">
                <img src="images/icons/footer_2.gif" alt="一件代发">
            </div>
            <div class="tag-div">
                <img src="images/icons/footer_3.gif" alt="美工活动支持">
            </div>
            <div class="tag-div">
                <img src="images/icons/footer_4.gif" alt="信誉认证">
            </div>
        </div>
    </div>
    <div class="footer-links inner">
        <dl>
            <dt>凡诺网</dt>
            <a href="temp_article/udai_article10.html">
                <dd>企业简介</dd>
            </a>
            <a href="temp_article/udai_article11.html">
                <dd>加入凡诺</dd>
            </a>
            <a href="temp_article/udai_article12.html">
                <dd>隐私说明</dd>
            </a>
        </dl>
        <dl>
            <dt>服务中心</dt>
            <a href="temp_article/udai_article1.html">
                <dd>售后服务</dd>
            </a>
            <a href="temp_article/udai_article2.html">
                <dd>配送服务</dd>
            </a>
            <a href="temp_article/udai_article3.html">
                <dd>用户协议</dd>
            </a>
            <a href="temp_article/udai_article4.html">
                <dd>常见问题</dd>
            </a>
        </dl>
        <dl>
            <dt>新手上路</dt>
            <a href="temp_article/udai_article5.html">
                <dd>如何成为代理商</dd>
            </a>
            <a href="temp_article/udai_article6.html">
                <dd>代销商上架教程</dd>
            </a>
            <a href="temp_article/udai_article7.html">
                <dd>分销商常见问题</dd>
            </a>
            <a href="temp_article/udai_article8.html">
                <dd>付款账户</dd>
            </a>
        </dl>
    </div>
    <div class="copy-box clearfix">
        <ul class="copy-links">
            <a href="agent_level.html">
                <li>网店代销</li>
            </a>
            <a href="class_room.html">
                <li>凡诺学堂</li>
            </a>
            <a href="udai_about.html">
                <li>联系我们</li>
            </a>
            <a href="temp_article/udai_article10.html">
                <li>企业简介</li>
            </a>
            <a href="temp_article/udai_article5.html">
                <li>新手上路</li>
            </a>
        </ul>
        <!-- 版权 -->
        <p class="copyright">
            © 2005-2017 凡诺网 版权所有，并保留所有权利<br>
            ICP备案证书号：闽ICP备16015525号-2&nbsp;&nbsp;&nbsp;&nbsp;福建省宁德市福鼎市南下村小区（锦昌阁）1栋1梯602室&nbsp;&nbsp;&nbsp;&nbsp;Tel:
            18650406668&nbsp;&nbsp;&nbsp;&nbsp;E-mail: 18650406668@qq.com
        </p>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <span id="orderIdInfo" style="display:none;"></span>
                        你确定要取消该订单吗？
                    </h4>
                    <input type="hidden" name=""/>
                </div>
                <div class="modal-body">
                    请选择取消订单的理由
                    <select>
                        <option selected="selected">请选择关闭的理由</option>
                        <option>我不想买了</option>
                        <option>地址填写错误，重新拍</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="quxiaoOrder">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->

        <script type="text/javascript">
        var status1;
        function pageInfo(pageIndex,status){

            var context = "<tr>\n" +
                "                                        <th width=\"380\">商品信息</th>\n" +
                "                                        <th width=\"85\">单价</th>\n" +
                "                                        <th width=\"85\">数量</th>\n" +
                "                                        <th width=\"120\">实付款</th>\n" +
                "                                        <th width=\"120\">交易状态</th>\n" +
                "                                        <th width=\"120\">交易操作</th>\n" +
                "                                    </tr>";
            $.ajax({
                url:"listCommodityInfo",
                type:"get",
                data:{
                    "pageIndex":pageIndex,
                    "status":status,
                    "pageSize":5
                },
                dataType:"json",
                success:function(data){

                    var pageNum = data.pageNum;
                    var pageSize = data.pageSize;
                    var size = data.size;
                    if(data.list.length ==0){
                        context+="   <tr class=\"order-empty\">\n" +
                            "                                        <td colspan='6'>\n" +
                            "                                            <div class=\"empty-msg\">最近没有任何订单，家里好像缺了点什么！<br><a href=\"item_category.html\">要不瞧瞧去？</a>\n" +
                            "                                            </div>\n" +
                            "                                        </td>\n" +
                            "                                    </tr>";
                    }else {
                        $.each(data.list, function (i, e) {
                            var paymentTimes=e.order.createTime;
                            var d = new Date(paymentTimes);
                            var times=d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();

                            context += " <tr class=\"order-item\">\n" +
                                "                                        <td>\n" +
                                "                                            <label>\n" +
                                "                                                <a href=\"udai_order_detail.html\" class=\"num\">\n" +
                                "                                                    " + times + " 订单号: " + e.orderId + "\n" +
                                "                                                </a>\n" +
                                "                                                <div class=\"card\">\n" +
                                "                                                    <div class=\"img\"><img src=\"images/temp/item-img_1.jpg\" alt=\"\"\n" +
                                "                                                                          class=\"cover\"></div>\n" +
                                "                                                    <div class=\"name ep2\">" + e.sku.product.productName + "</div>\n" +
                                "                                                    <div class=\"format\">";
                            $.each(e.sku.product.skuValues, function (i1, e1) {
                                context += e1.skuName.skunameeValue + ":"+e1.skuvalueValue+"、";

                            });
                            context += "</div>\n" +
                                "                                                    <div class=\"favour\"></div>\n" +
                                "                                                </div>\n" +
                                "                                            </label>\n" +
                                "                                        </td>\n" +
                                "                                        <td>￥" + e.sku.presentPrice + "</td>\n" +
                                "                                        <td>" + e.number + "</td>\n" +
                                "                                        <td>￥" + (e.sku.presentPrice * e.number) + "<br><span class=\"fz12 c6 text-nowrap\">(含运费: ¥0.00)</span></td>\n" +
                                "                                        <td class=\"state\">\n" +
                                "                                            <a class=\"but c6\">" + e.orderstatus.orderStatus_name + "</a>\n" +
                                "                                            <a href=\"udai_mail_query.html\" class=\"but cr\">查看物流</a>\n" +
                                "                                            <a href='udai_order_detail.html?id=" + e.orderId + "' class=\"but c9\">订单详情</a>\n" +
                                "                                        </td>\n" +
                                "                                        <td class=\"order\">\n" +
                                "                                            <div class=\"del\"><span onclick=\"del('" + e.commodityId + "','" + e.orderId + "',this)\" class=\"glyphicon glyphicon-trash\"\n" +
                                "                                                                   aria-hidden=\"true\"></span></div>\n" ;

                            if (e.orderstatus.orderStatus_id == 1) {
                                context +="<a href='udai_shopcart_pay.html?id="+e.orderId+"' class=\"but but-primary\">"+"立即付款";
                            } else if (e.orderstatus.orderStatus_id == 2) {
                                context += " <a href='javascript:void(0)' class=\"but \">"+"等待发货";
                            } else if (e.orderstatus.orderStatus_id == 3) {
                                context +=  " <a href='udai_order_receipted.html?id="+e.orderId+"' class=\"but but-primary\">"+"确认收货";
                            } else if (e.orderstatus.orderStatus_id == 4) {
                                context +=  " <a href='javascript:void(0)' class=\"but \">"+"等待退款";
                            } else if (e.orderstatus.orderStatus_id == 5) {
                                context += " <a href='javascript:void(0)' class=\"but \">"+"退款失败";
                            } else if (e.orderstatus.orderStatus_id == 6) {
                                context += " <a href='javascript:void(0)' class=\"but \">"+"退款成功";
                            } else if (e.orderstatus.orderStatus_id == 7) {
                                context +=" <a href='javascript:void(0)' class=\"but but-primary\">"+ "已收货";
                            } else if (e.orderstatus.orderStatus_id == 8) {
                                context +=" <a href='javascript:void(0)' class=\"but but-primary\">"+ "订单已失效";
                            } else if (e.orderstatus.orderStatus_id == 9) {
                                context += " <a href='udai_order_receipted.html?id="+e.orderId+"' class=\"but but-primary\">"+"评价";
                            }


                            if (e.orderstatus.orderStatus_id == 1) {
                                context +=  " <a href='javascript:void(0)'data-toggle=\"modal\" onclick='orderId(\""+e.orderId+"\")' data-target=\"#myModal\" class=\"but c3\">"+"取消订单";
                            } else if (e.orderstatus.orderStatus_id == 2) {
                                context += " <a href='javascript:void(0)'data-toggle=\"modal\" onclick='orderId(\""+e.orderId+"\")' data-target=\"#myModal\" class=\"but c3\">"+ "取消订单";
                            } else if (e.orderstatus.orderStatus_id == 3) {
                                context += " <a href='udai_apply_return.html?id="+e.orderId+"' class=\"but c3\">"+ "退款退货";
                            } else if (e.orderstatus.orderStatus_id == 4) {
                                context += " <a  href='javascript:void(0)' class=\"but c3\">"+ "等待退款";
                            } else if (e.orderstatus.orderStatus_id == 5) {
                                context += " <a href='javascript:void(0)' class=\"but c3\">"+ "退款失败";
                            } else if (e.orderstatus.orderStatus_id == 6) {
                                context += " <a href='javascript:void(0)' class=\"but c3\">"+ "退款成功";
                            } else if (e.orderstatus.orderStatus_id == 7) {
                                context +=  " <a href='udai_apply_return.html?id="+e.orderId+"' class=\"but c3\">"+"退货退款";
                            } else if (e.orderstatus.orderStatus_id == 8) {
                                context += " <a  href='javascript:void(0)' class=\"but c3\">"+ "订单已失效";
                            } else if (e.orderstatus.orderStatus_id == 9) {
                                context +=  " <a href='udai_apply_return.html?id="+e.orderId+"' class=\"but c3\">"+"退货退款";
                            }
                            context += "                                        </td>\n" +

                                "                                    </tr>";
                        });
                    }

                    var btn ="";
                       if(pageIndex== 1 || pageIndex == 0){
                           btn+=" <a class=\"disabled\">上一页</a>\n" ;
                       }else{
                           btn+=" <a onclick='show("+(data.pageNum-1)+")'>上一页</a>\n" ;
                       }

                       for(var i = 1; i<=data.pages; i++){
                             if(i == data.pageNum){
                                 btn+=" <a class=\"select\">"+i+"</a>";
                              }else{
                                 btn+=" <a onclick='show("+i+")'>"+i+"</a>";
                             }
                       }
                       if(data.pages == pageIndex || pageIndex == 0 || pageIndex == 1){
                           btn+="<a class=\"disabled\" >下一页</a>";
                       }else{
                           btn+="<a  onclick='show("+(data.pageNum+1)+")'>下一页</a>";
                       }
                        $("table tbody").html(context);
                        $("#stylepage").html(btn);
                },
                error:function(){
                    alert("请求失败！");
                }
            })
        }
         $(function () {
             init();
             pageInfo(1,null);
             $("#quxiaoOrder").click(function(){
                 var id =$("#orderIdInfo").text();
                 $.ajax({
                     url:"updateOrderStatus",
                     type:"post",
                     data:{
                         "id":id,
                         "status":8
                     },
                     success:function (data) {
                         if(data.success){
                             $("#myModal").modal('hide');  //手动关闭
                             init();
                             pageInfo(1,null);
                         }else{
                             alert(data.msg);
                         }
                     },
                     error:function () {
                         alert("请求失败");
                     }
                 })
             })
         })
        function init() {



            var context ="<li role=\"presentation\" class=\"nav-item active\"><a href=\"#all\" onclick=\"statu(null)\" aria-controls=\"all\"\n" +
                "            role=\"tab\" data-toggle=\"tab\">所有订单</a>\n" +
                "                </li>";
            $.ajax({
                url:"listOrderStatusByUserId",
                type:"get",
                dataType:"json",
                success:function(data){
                    $.each(data,function(i,e){
                        context+="  <li role=\"presentation\" class=\"nav-item \"><a href=\"#all\" onclick=\"statu("+e.orderStatusId+")\" aria-controls=\"pay\" role=\"tab\"\n" +
                            "            data-toggle=\"tab\">"+e.orderStatusName+" <span class=\"cr\">"+e.number+"</span></a>\n" +
                            "            </li>";
                    })
                    $(".user-nav__title").html(context);
                },
                error:function(){
                    alert("请求失败");
                }
            })
        }
        function statu(obj) {
            status1 = obj;
            pageInfo(1,obj);
        }
        function show(pageIndex){
            pageInfo(pageIndex,status1);
        }
        function  del(commodityId,orderId,obj) {
            var flag = confirm("确定要删除该订单"+orderId+"中的商品吗？");
            if(flag){
                $.ajax({
                    url:"removeCommodityId",
                    type:"get",
                    data:{
                        "commodityId":commodityId,
                        "orderId":orderId
                    },
                    dataType:"json",
                    success:function(data){
                        alert(data.msg);
                        if(data.success){
                            init();
                            pageInfo(1,null);
                        }
                    },
                    error:function () {
                        alert("请求失败");
                    }
                })
            }

        }
    </script>
</div>
</div>
</body>
</html>