<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" href="../css/iconfont.css">
	<link rel="stylesheet" href="../css/global.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../css/swiper.min.css">
	<link rel="stylesheet" href="../css/styles.css">
	<script src="../js/jquery.1.12.4.min.js" charset="UTF-8"></script>
	<script src="../js/bootstrap.min.js" charset="UTF-8"></script>
	<script src="../js/swiper.min.js" charset="UTF-8"></script>
	<script src="../js/global.js" charset="UTF-8"></script>
	<script src="../js/jquery.DJMask.2.1.1.js" charset="UTF-8"></script>
	<title>凡诺网</title>
</head>
<body>
	<!-- 顶部tab -->
	<div class="tab-header">
		<div class="inner">
			<div class="pull-left">
				<div class="pull-left">嗨，欢迎来到<span class="cr">凡诺网</span></div>
				<a href="../agent_level.html">网店代销</a>
				<a href="udai_article4.html">帮助中心</a>
			</div>
			<div class="pull-right">
				<a href="../login.html"><span class="cr">登录</span></a>
				<a href="../login.html?p=register">注册</a>
				<a href="../udai_welcome.html">我的凡诺</a>
				<a href="../udai_order.html">我的订单</a>
				<a href="../udai_integral.html">积分平台</a>
			</div>
		</div>
	</div>
	<!-- 顶部标题 -->
	<div class="bgf5 clearfix">
		<div class="top-user">
			<div class="inner">
				<a class="logo" href="../index.html"><img src="../images/icons/logo.jpg" alt="凡诺网" class="cover"></a>
				<div class="title">个人中心</div>
			</div>
		</div>
	</div>
	<div class="content clearfix bgf5">
		<section class="user-center inner clearfix">
			<div class="pull-left bgf">
				<div class="title">凡诺欢迎页</div>
				<dl class="user-center__nav">
					<dt>帐户信息</dt>
					<a href="../udai_setting.html"><dd>个人资料</dd></a>
					<a href="../udai_treasurer.html"><dd>资金管理</dd></a>
					<a href="../udai_integral.html"><dd>积分平台</dd></a>
					<a href="../udai_address.html"><dd>收货地址</dd></a>
					<a href="../udai_coupon.html"><dd>我的优惠券</dd></a>
					<a href="../udai_paypwd_modify.html"><dd>修改支付密码</dd></a>
					<a href="../udai_pwd_modify.html"><dd>修改登录密码</dd></a>
				</dl>
				<dl class="user-center__nav">
					<dt>订单中心</dt>
					<a href="../udai_order.html"><dd>我的订单</dd></a>
					<a href="../udai_collection.html"><dd>我的收藏</dd></a>
					<a href="../udai_refund.html"><dd>退款/退货</dd></a>
				</dl>
				<dl class="user-center__nav">
					<dt>服务中心</dt>
					<a href="../udai_mail_query.html"><dd>物流查询</dd></a>
					<a href=""><dd>数据自助下载</dd></a>
					<a href="udai_article1.html"><dd>售后服务</dd></a>
					<a href="udai_article2.html"><dd>配送服务</dd></a>
					<a href="udai_article3.html"><dd class="active">用户协议</dd></a>
					<a href="udai_article4.html"><dd>常见问题</dd></a>
				</dl>
				<!--<dl class="user-center__nav">
					<dt>新手上路</dt>
					<a href="udai_article5.html"><dd>如何成为代理商</dd></a>
					<a href="udai_article6.html"><dd>代销商上架教程</dd></a>
					<a href="udai_article7.html"><dd>分销商常见问题</dd></a>
					<a href="udai_article8.html"><dd>付款账户</dd></a>
				</dl>-->
				<dl class="user-center__nav">
					<dt>凡诺网</dt>
					<a href="udai_article10.html"><dd>企业简介</dd></a>
					<a href="udai_article11.html"><dd>加入凡诺</dd></a>
					<a href="udai_article12.html"><dd>隐私说明</dd></a>
				</dl>
			</div>
			<div class="pull-right bgf">
				<div class="user-center__content">
					<div class="head-box">服务中心-用户协议</div>
					<div class="html-code">
						<h3>一、【定义】</h3>
						<p style="text-indent: 2em">凡诺网上交易平台：有关淘宝网上交易平台上的术语或图示的含义，详见淘宝帮助。

							用户及用户注册：用户必须是具备完全民事行为能力的自然人，或者是具有合法经营资格的实体组织。无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的组织不当注册为淘宝用户或超过其民事权利或行为能力范围从事交易的，其与淘宝之间的服务协议自始无效，淘宝一经发现，有权立即注销该用户，并追究其使用淘宝网"服务"的一切法律责任。用户注册是指用户登陆淘宝网，并按要求填写相关信息并确认同意履行相关用户协议的过程。用户因进行交易、获取有偿服务或接触淘宝网服务器而发生的所有应纳税赋，以及一切硬件、软件、服务及其它方面的费用均由用户负责支付。淘宝网站仅作为交易地点。淘宝仅作为用户物色交易对象，就货物和服务的交易进行协商，以及获取各类与贸易相关的服务的地点。淘宝不能控制交易所涉及的物品的质量、安全或合法性，商贸信息的真实性或准确性，以及交易方履行其在贸易协议项下的各项义务的能力。淘宝并不作为买家或是卖家的身份参与买卖行为的本身。淘宝提醒用户应该通过自己的谨慎判断确定登录物品及相关信息的真实性、合法性和有效性。 </p>

						<h3>二、【协议的变更和生效】</h3>
						<p style="text-indent: 2em">2.1 凡诺有权在必要时变更本协议条款，并在相关页面进行通知。您可以在凡诺网的相关页面查阅最新版本的协议条款。</p>
						<p style="text-indent: 2em">2.2 本协议条款变更后，如果您继续使用凡诺网服务，即视为您已接受变更后的协议。如果您不接受变更后的协议，应当停止使用凡诺网服务。</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- 右侧菜单 -->
	<div class="right-nav">
		<ul class="r-with-gotop">
			<li class="r-toolbar-item">
				<a href="../udai_welcome.html" class="r-item-hd">
					<i class="iconfont icon-user" data-badge="0"></i>
					<div class="r-tip__box"><span class="r-tip-text">用户中心</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="../udai_shopcart.html" class="r-item-hd">
					<i class="iconfont icon-cart"></i>
					<div class="r-tip__box"><span class="r-tip-text">购物车</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="../udai_collection.html" class="r-item-hd">
					<i class="iconfont icon-aixin"></i>
					<div class="r-tip__box"><span class="r-tip-text">我的收藏</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="" class="r-item-hd">
					<i class="iconfont icon-liaotian"></i>
					<div class="r-tip__box"><span class="r-tip-text">联系客服</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="issues.html" class="r-item-hd">
					<i class="iconfont icon-liuyan"></i>
					<div class="r-tip__box"><span class="r-tip-text">留言反馈</span></div>
				</a>
			</li>
			<li class="r-toolbar-item to-top">
				<i class="iconfont icon-top"></i>
				<div class="r-tip__box"><span class="r-tip-text">返回顶部</span></div>
			</li>
		</ul>
		<script>
			$(document).ready(function(){ $('.to-top').toTop({position:false}) });
		</script>
	</div>
	<!-- 底部信息 -->
	<div class="footer">
		<div class="footer-tags">
			<div class="tags-box inner">
				<div class="tag-div">
					<img src="../images/icons/footer_1.gif" alt="厂家直供">
				</div>
				<div class="tag-div">
					<img src="../images/icons/footer_2.gif" alt="一件代发">
				</div>
				<div class="tag-div">
					<img src="../images/icons/footer_3.gif" alt="美工活动支持">
				</div>
				<div class="tag-div">
					<img src="../images/icons/footer_4.gif" alt="信誉认证">
				</div>
			</div>
		</div>
		<div class="footer-links inner">
			<dl>
				<dt>凡诺网</dt>
				<a href="udai_article10.html"><dd>企业简介</dd></a>
				<a href="udai_article11.html"><dd>加入凡诺</dd></a>
				<a href="udai_article12.html"><dd>隐私说明</dd></a>
			</dl>
			<dl>
				<dt>服务中心</dt>
				<a href="udai_article1.html"><dd>售后服务</dd></a>
				<a href="udai_article2.html"><dd>配送服务</dd></a>
				<a href="udai_article3.html"><dd>用户协议</dd></a>
				<a href="udai_article4.html"><dd>常见问题</dd></a>
			</dl>
			<dl>
				<dt>新手上路</dt>
				<a href="udai_article5.html"><dd>如何成为代理商</dd></a>
				<a href="udai_article6.html"><dd>代销商上架教程</dd></a>
				<a href="udai_article7.html"><dd>分销商常见问题</dd></a>
				<a href="udai_article8.html"><dd>付款账户</dd></a>
			</dl>
		</div>
		<div class="copy-box clearfix">
			<ul class="copy-links">
				<a href="../agent_level.html"><li>网店代销</li></a>
				<a href="../class_room.html"><li>凡诺学堂</li></a>
				<a href="../udai_about.html"><li>联系我们</li></a>
				<a href="udai_article10.html"><li>企业简介</li></a>
				<a href="udai_article5.html"><li>新手上路</li></a>
			</ul>
			<!-- 版权 -->
			<p class="copyright">
				© 2005-2017 凡诺网 版权所有，并保留所有权利<br>
				ICP备案证书号：闽ICP备16015525号-2&nbsp;&nbsp;&nbsp;&nbsp;福建省宁德市福鼎市南下村小区（锦昌阁）1栋1梯602室&nbsp;&nbsp;&nbsp;&nbsp;Tel: 18650406668&nbsp;&nbsp;&nbsp;&nbsp;E-mail: 18650406668@qq.com
			</p>
		</div>
	</div>
</body>
</html>