@charset "utf-8";

/* CSS Document */

.head {
	background-color: #262626;
	height: 45px;
	border-bottom: 1px solid #262626;
	font-size: 14px;
	cursor: pointer;
}

.head ul {
	height: 45px;
	list-style: none;
}

.head ul li {
	height: 43px;
	line-height: 43px;
	float: left;
	margin: 0px 16px;
}

.head ul li:hover {
	color: #3d91ff;
}

.hav_li {
	color: #e0e0e0;
}

.line {
	color: #3d91ff;
}

.logo {
	float: left;
}

.hav {
	float: left;
}

.login {
	position: relative;
	float: right;
	height: 45px;
	line-height: 45px;
	margin-right: 50px;
	background-image: url(../images/tx.png);
	background-position: 0px 12px;
	background-repeat: no-repeat;
	text-indent: 22pt;
	z-index: 270;
	color: #e0e0e0;
}

.loginUser {
	
	background-image: url(../images/xsj.png);
	width: 140px;
	display: block;
	background-position: 125px 20px;
	background-repeat: no-repeat;
}

.person {
	clear: both;
	position: absolute;
	left: 10px;
	top: 39px;
	background-color: #fff;
	width: 120px;
	height: 124px;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	z-index: 7;
	text-align: left;
	border-radius: 2px;
	display: none;
}

.person span {
	color: #000;
	clear: both;
	height: 40px;
	line-height: 40px;
	display: block;
	border-bottom: 1px solid #e5e5e5;
	font-weight: normal;
}

.person span:hover {
	color: #000;
	font-weight: normal;
	text-decoration: underline;
}


/****************************************/

.content {
	width: 100%;
}


/*左导航*/

.left {
	background-color: #333333;
	overflow: hidden;
	width: 200px;
	float: left;
}

.right {
	float: left;
	overflow: hidden;
}

.nav {
	width: 200px;
	text-align: left;
	font-size: 14px;
	color: #bbbbbb;
	overflow: hidden;
}

.nav h1 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	height: 45px;
	line-height: 45px;
	text-align: left;
	text-indent: 10pt;
}

.nav ul li ul {
	list-style: square inside url('image/0000.jpg');
}

.nav_ul {
	text-align: left;
	font-size: 14px;
	color: #bbbbbb;
	cursor: pointer;
}

.nav_ul li {
	line-height: 35px;
}

.nav_ul li div {
	padding-left: 15px;
	background-image: url(../images/dsj.png);
	background-position: 160px center;
	background-repeat: no-repeat;
}

.nav_title {
	font-size: 14px;
	font-weight: bold;
}

.nav_title:hover {
	background-color: #4c4c4c;
}

.nav_title_bg {
	background-color: #262626;
	color: #3d91ff;
}

.nav_title_before {
	background-color: #333;
	color: #bbb;
}

.nva_ul li:hover {
	cursor: pointer;
	background-color: #4c4c4c;
}

.second {
	width: 200px;
	overflow: hidden;
	padding: 10px 0px;
	display: none;
	background-color: #262626;
}

.second li {
	padding-left: 30px;
	height: 30px;
	line-height: 30px;
}

.second li:hover {
	background-color: #4c4c4c;
}

.leftBtn {
	width: 20px;
	height: 40px;
	background-color: #4d4d4d;
	overflow: hidden;
	background-image: url(../images/hideLeft.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	position: absolute;
	top: 49px;
	left: 180px;
}

.rightBtn {
	width: 20px;
	height: 40px;
	margin-right: 30px;
	background-color: #4d4d4d;
	overflow: hidden;
	background-image: url(../images/showLeft.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	position: absolute;
	top: 46px;
	left: 0px;
}