/* CSS Document */

.section{
	background-color: #fff;
	float:left;
	border:1px solid #e9e9e9;
	overflow:auto;
	margin: 10px;
	
}
.sectionTitle{
	background-color:#f9f9f9;
	border-bottom:1px solid #e9e9e9; 
	font-size:14px; 
	font-weight:bold; 
	text-indent:10px; 
	height:30px; 
	line-height:30px;
}


