/* CSS Document */

.tableInfo{
	background-color:#fff;
	display:block;
	width:99%;
	
	
}
.selectTable{
		border-radius:2px;
		text-align:center;
		width:100%;
		font-size:12px;
		color:#333;
		border-top:1px solid #e9e9e9;
		border-left:1px solid #e9e9e9;
	
		
}
.selectTable tr{
   min-height:30px;
   line-height:30px;
 

}
.tr_active{ background-color:#dae9fb; }


.selectTable tr input{
	  
	  width:16px;
	  height:16px;
	  margin-top:8px;
}

 .selectTable tr td:hover{
		cursor:default;
  }




.selectTable tr th{
   min-height:30px;
   line-height:30px;
   border-top:1px solid #d1d5de;
   border-bottom:1px solid #d1d5de;
   background-color: #f6f8fa;
  
 } 
 
.selectTable tr td{
   padding:2px 5px;
   min-height:30px;
   line-height:30px;
   border-width:0px 1px 1px 0px;
   border-color:#E5E5E5;
   border-style:solid;   
}
.selectTable tr td span{
  color: #2277da;
  display: block;
  float: left;
  margin:0 3px;
}
.selectTable tr td span:hover{
  color: #ff0000;
  text-decoration: underline;
  cursor: pointer;
}
 

