<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alcohol.mapper.CategoryTwoMapper">
    <resultMap id="two" type="Categorytwo">
        <id property="categorytwoId" column="categorytwo_id"></id>
        <result property="parentId" column="parentId"></result>
        <result property="categorytwoName" column="categorytwo_name"></result>
        <result property="weight" column="weight"></result>
        <collection property="categorythreeList" ofType="Categorythree">
            <id property="categorythreeId" column="categorythree_id"/>
            <result property="parentId" column="parentId"/>
            <result property="categorythreeName" column="categorythree_name"/>
            <result property="weight" column="weight"/>
        </collection>
    </resultMap>
    <!--查询二级分类-->
    <select id="getCategoryTwoInfo" resultMap="two">
       SELECT three.categorythree_id,three.categorythree_name,tb_categorytwo.categorytwo_id,tb_categorytwo.categorytwo_name FROM (SELECT * FROM tb_categorythree  ) AS three
       LEFT JOIN tb_categorytwo ON tb_categorytwo.categorytwo_id=three.parentID
       where tb_categorytwo.categorytwo_id
    </select>

    <!--查询二级分类分页-->
    <select id="getCategoryTwoInfofy" resultType="Categorytwo">
      SELECT * FROM tb_categorytwo WHERE parentId=#{parentId} and isdel=0
    </select>

    <!--查询要添加的二级分类是否存在-->
    <select id="getCategoryTwo" resultType="java.lang.Integer">
        select count(1) from tb_categorytwo where categorytwo_name=#{categorytwoName} and isdel=0
    </select>

    <!--新增二级分类-->
    <insert id="addCategoryTwo">
        INSERT INTO tb_categorytwo
       VALUES (NULL,#{categorytwoName},#{parentId},0)
    </insert>

    <!--查询二级分类下是否有三级分类-->
    <select id="delistwo" resultType="java.lang.Integer">
      SELECT COUNT(1) FROM tb_categorythree WHERE FIND_IN_SET(#{categorytwoId},parentId) AND isdel=0;
    </select>
    <!--删除三级分类-->
    <update id="delCategorytwo">
      UPDATE tb_categorytwo SET isdel=#{isdel} where categorytwo_id=#{categorytwoId}
    </update>
    <!--修改二级分类-->
    <update id="updateCategorytwo">
        UPDATE tb_categorytwo SET categorytwo_name=#{categorytwoName} where categorytwo_id=#{categorytwoId}
    </update>
</mapper>
