<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alcohol.mapper.CategoryOneMapper">
    <resultMap id="ones" type="Categoryone">
        <id property="categoryoneId" column="categoryone_id"/>
        <result property="categoryontName" column="categoryont_name"/>

        <collection property="categorytwoList" ofType="Categorytwo">
            <id property="categorytwoId" column="categorytwo_id"></id>
          <!--  <result property="parentId" column="parentId"></result>-->
            <result property="categorytwoName" column="categorytwo_name"></result>
          <!--  <result property="weight" column="weight"></result>-->
           <collection property="categorythreeList" ofType="Categorythree">
                <id property="categorythreeId" column="categorythree_id"/>
               <result property="parentId" column="parentId"/>
                <result property="categorythreeName" column="categorythree_name"/>
               <result property="weight" column="weight"/>
            </collection>
        </collection>
    </resultMap>
    <!--查询一级分类-->
    <select id="getCategoryOneInfo" resultMap="ones">
         SELECT tb_categoryone.`categoryone_id`,tb_categoryone.categoryont_name,temp.categorytwo_id,temp.categorytwo_name,
          tb_categorythree.`categorythree_id`,tb_categorythree.`categorythree_name` FROM tb_categoryone
         LEFT JOIN tb_categorytwo AS temp ON `tb_categoryone`.`categoryone_id`=temp.`parentId`
          LEFT JOIN tb_categorythree ON `tb_categorythree`.parentId=temp.categorytwo_id
    </select>

    <!--查询一级分类下拉框-->
    <select id="getCategoryOneInfos" resultType="Categoryone">
        SELECT categoryone_id,categoryont_name FROM tb_categoryone
    </select>

    <!--查询一级分类分页-->
    <select id="getCategoryOneInfofy" resultType="Categoryone">
        SELECT categoryone_id,categoryont_name FROM tb_categoryone
        WHERE isdel=0
    </select>
    <!--查询要添加的分类是否存在-->
    <select id="getCategoryone" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM tb_categoryone WHERE categoryont_Name=#{categoryontName} and isdel=0
    </select>

    <!--添加一级分类-->
    <insert id="addCategoryOne">
         INSERT INTO tb_categoryone
      VALUES (NULL,#{categoryontName},0,0,NULL,NULL,NULL,NULL)
    </insert>

    <resultMap id="listcategorys" type="Categoryone">
        <id property="categoryoneId" column="categoryone_id"/>
        <result property="categoryontName" column="categoryont_name"/>
        <collection property="listcategorytwos" ofType="Categorytwo">
            <id property="categorytwoId" column="categorytwo_id"/>
            <result property="categorytwoName" column="categorytwo_name"/>
            <result property="parentId" column="parentId"/>
            <collection property="listcategorythrees" ofType="Categorythree">
                <id property="categorythreeId" column="categorythree_id"/>
                <result property="categorythreeName" column="categorythree_name"/>
                <result property="parentId" column="parentId"/>
            </collection>
        </collection>
    </resultMap>
    <select id="listCategory" resultMap="listcategorys">
        SELECT `one`.`categoryone_id`,one.`categoryont_name`,two.`categorytwo_id`,two.`categorytwo_name`,two.`parentId`,
        three.`categorythree_id`,three.`categorythree_name`,three.`parentId` FROM tb_categoryone `one`
        LEFT JOIN tb_categorytwo two ON one.`categoryone_id`=two.parentId
        LEFT JOIN tb_categorythree three ON two.`categorytwo_id`=three.`parentId`

    </select>
    <!--一级分类修改-->
    <update id="updateCategoryone">
        UPDATE tb_categoryone SET categoryont_name=#{categoryontName} where categoryone_id=#{categoryoneId}
    </update>
    <!--查询一级分类下是否有二级分类-->
    <select id="seloneistwo" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM tb_categorytwo WHERE parentId=#{two} AND isdel=0
    </select>
</mapper>
