<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alcohol.mapper.category.CategoryTwoMapper">

    <!--查询二级分类-->
    <select id="getCategoryTwoInfo" resultType="Categorytwo">
       SELECT categorytwo_id,categorytwo_name FROM tb_categorytwo
        WHERE parentId =(
	        SELECT categoryone_id FROM tb_categoryone
	      WHERE categoryone_id=1
          )
    </select>

    <!--查询要添加的二级分类是否存在-->
    <select id="getCategoryTwo" resultType="Categorytwo">
        select count(1) from tb_categorytwo where categorytwo_name=#{categorytwo_name}
    </select>
    
    <!--新增二级分类-->
    <insert id="addCategoryTwo">
        insert into tb_categorytwo values
        (#{categorytwo_name},#{parentId},#{weight})
    </insert>

    <!--修改-->
    <update id="updateCategorytwo">
        update tb_categorytwo set categorytwo_name=#{categorytwo_name}

    </update>

    <!--删除-->
    <delete id="delCategorytwo">
        delete from tb_categorytwo where categorytwo_id=#{categorytwo_id}
    </delete>
</mapper>
