<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alcohol.mapper.ImageMapper">
    <select id="list" resultMap="resultMap01">
        SELECT tb_product.`product_id`,tb_image.`image_id`,tb_image.`image_path` FROM  tb_product
        LEFT JOIN ( SELECT * FROM tb_image WHERE  image_type=0 GROUP BY tb_image.`product_id`) AS tb_image
        ON tb_image.`product_id`=tb_product.`product_id`
        WHERE tb_product.`weight`=100
    </select>

    <!---->

    <resultMap id="resultMap01" type="com.alcohol.pojo.Image">
        <id column="image_id" property="imageId"/>
        <result column="image_path" property="imagePath"/>
        <association property="product" javaType="com.alcohol.pojo.Product">
            <id column="product_id" property="productId"/>
        </association>
    </resultMap>

    <select id="selImageByProductId" resultType="com.alcohol.pojo.Image">
        SELECT image_id,image_path,product_id,image_type,weight FROM tb_image WHERE product_id=#{productId}
    </select>

    <insert id="addImage">
         INSERT INTO tb_image(image_id,image_path,product_id,image_type,weight)
         VALUES(NULL,#{imagePath},#{productId},#{imageType},#{weight});
    </insert>
</mapper>