<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alcohol.mapper.OrderMapper">

    <update id="updateOrderState">
          UPDATE `tb_order` SET `status`=#{status} where `order_id`=#{orderId}
    </update>
    <insert id="insertInfo">
        insert into `tb_order`(order_id,address_id,create_time,user_id,goodsCount,status,money)
        values(#{orderId},#{addressId},#{createTime},#{userId},#{goodsCount},#{status},#{money})
    </insert>

    <resultMap id="info" type="Order">
      <id column="order_id" property="orderId"/>
        <result column="create_time" property="createTime"/>
        <result column="batch" property="batch"/>
        <result column="payment_time" property="paymentTime"/>
        <association property="orderstatus" javaType="Orderstatus">
            <id column="orderStatusId" property="orderStatus_id"/>
            <result column="orderStatuName" property="orderStatus_name"/>
        </association>
        <collection property="commodities" ofType="Commodity">
          <id column="commodity_id" property="commodityId"/>
            <result column="number" property="number"/>
            <association property="orderstatus" javaType="Orderstatus">
                <id column="orderStatus_id" property="orderStatus_id"/>
                <result column="orderStatus_name" property="orderStatus_name"/>
            </association>
            <association property="sku" javaType="Sku">
                <id column="sku_id" property="skuId"></id>
                <result column="original_price" property="originalPrice"/>
                <result column="present_price" property="presentPrice"/>
               <association property="product" javaType="Product">
                   <id column="product_id" property="productId"/>
                   <result column="product_name" property="productName"/>
                   <collection property="skunameList" ofType="skuName">
                        <id column="skuname_id" property="skunameId"/>
                       <result column="skuname_name" property="skunameeValue"/>
                       <collection property="skuValueList" ofType="SkuValue">
                           <id column="skuvalue_id" property="skuvalueId"/>
                           <result column="skuvalue_value" property="skuvalueValue"/>
                       </collection>
                   </collection>
                   <collection property="imageList" ofType="Image">
                       <id column="image_id" property="imageId"/>
                       <result column="image_path" property="imagePath"/>
                   </collection>
               </association>
            </association>
        </collection>
    </resultMap>
    <select id="getById" resultMap="info">
        SELECT orde.order_id,orde.create_time,orde.batch,orde.`payment_time`,
    addre.address_id,addre.province,addre.city,addre.area,addre.street,
    statu1.`orderStatus_id` AS orderStatusId,statu1.`orderStatus_name` orderStatuName,
    comm.commodity_id,comm.number,
      sku.sku_id,sku.`original_price`,sku.`present_price`,
    statu.orderStatus_id,statu.orderStatus_name,
    pro.product_id,pro.product_name,
    skuname.skuname_id,skuname.skuname_name,
    skuvalue.skuvalue_id,skuvalue.`skuvalue_value`,
    img.`image_id`,img.`image_path`
     FROM `tb_order` orde
    LEFT JOIN `tb_address` addre ON orde.`address_id`=addre.address_id
    INNER JOIN `tb_commodity` comm ON orde.`order_id`=comm.`order_id`
    LEFT JOIN  `tb_sku` sku ON comm.`sku_id`=sku.`sku_id`
    INNER JOIN `tb_orderstatus` statu ON statu.`orderStatus_id`=comm.`orderstatus_id`
    INNER JOIN `tb_product` pro ON sku.`product_id`=pro.`product_id`
    INNER JOIN `tb_skuname` skuname ON pro.`product_id`=skuname.`product_id`
    LEFT JOIN `tb_skuvalue` skuvalue ON skuvalue.`skuname_id`=skuname.`skuname_id`
    LEFT JOIN `tb_image` img ON img.`product_id`=pro.`product_id`
     INNER JOIN `tb_orderstatus` statu1 ON statu1.`orderStatus_id` = orde.`status`
    WHERE skuvalue.`skuvalue_id` IN (
     SELECT SUBSTRING_INDEX(skuvalue_id, ':', 1) FROM tb_sku sku2  WHERE sku2.sku_id=comm.sku_id
     )
     and orde.order_id=#{orderId}
    </select>

    <delete id="removeOrderInfo">

        DELETE FROM `tb_order` WHERE `order_id` = #{orderId}
    </delete>

    <delete id="orderSelldaily">
        UPDATE`tb_order` SET `status`=8 WHERE NOW()>=    DATE_ADD(create_time, INTERVAL 3 DAY) AND `status`=1
    </delete>
    <select id="listSellDaily" resultType="Order">
        SELECT order_id FROM tb_order WHERE NOW()>=    DATE_ADD(create_time, INTERVAL 3 DAY) AND `status`=1
    </select>
</mapper>