<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alcohol.mapper.OrderMapper">

    <update id="updateOrderState">
          UPDATE `tb_order` SET `status`=#{status} where `order_id`=#{orderId}
    </update>
    <insert id="insertInfo">
        insert into `tb_order`(order_id,address_id,create_time,user_id,goodsCount,status,money)
        values(#{orderId},#{addressId},#{createTime},#{userId},#{goodsCount},#{status},#{money})
    </insert>

    <resultMap id="info" type="Order">
      <id column="order_id" property="orderId"/>
        <result column="create_time" property="createTime"/>
        <result column="batch" property="batch"/>
        <result column="payment_time" property="paymentTime"/>
        <association property="orderstatus" javaType="Orderstatus">
            <id column="orderStatusId" property="orderStatus_id"/>
            <result column="orderStatuName" property="orderStatus_name"/>
        </association>
        <collection property="commodities" ofType="Commodity">
          <id column="commodity_id" property="commodityId"/>
            <result column="number" property="number"/>
            <association property="orderstatus" javaType="Orderstatus">
                <id column="orderStatus_id" property="orderStatus_id"/>
                <result column="orderStatus_name" property="orderStatus_name"/>
            </association>
            <association property="sku" javaType="Sku">
                <id column="sku_id" property="skuId"></id>
                <result column="original_price" property="originalPrice"/>
                <result column="present_price" property="presentPrice"/>
               <association property="product" javaType="Product">
                   <id column="product_id" property="productId"/>
                   <result column="product_name" property="productName"/>
                   <collection property="skunameList" ofType="skuName">
                        <id column="skuname_id" property="skunameId"/>
                       <result column="skuname_name" property="skunameeValue"/>
                       <collection property="skuValueList" ofType="SkuValue">
                           <id column="skuvalue_id" property="skuvalueId"/>
                           <result column="skuvalue_value" property="skuvalueValue"/>
                       </collection>
                   </collection>
                   <collection property="imageList" ofType="Image">
                       <id column="image_id" property="imageId"/>
                       <result column="image_path" property="imagePath"/>
                   </collection>
               </association>
            </association>
        </collection>
    </resultMap>
    <select id="getById" resultMap="info">
        SELECT orde.order_id,orde.create_time,orde.batch,orde.`payment_time`,
    addre.address_id,addre.province,addre.city,addre.area,addre.street,
    statu1.`orderStatus_id` AS orderStatusId,statu1.`orderStatus_name` orderStatuName,
    comm.commodity_id,comm.number,
      sku.sku_id,sku.`original_price`,sku.`present_price`,
    statu.orderStatus_id,statu.orderStatus_name,
    pro.product_id,pro.product_name,
    skuname.skuname_id,skuname.skuname_name,
    skuvalue.skuvalue_id,skuvalue.`skuvalue_value`,
    img.`image_id`,img.`image_path`
     FROM `tb_order` orde
    LEFT JOIN `tb_address` addre ON orde.`address_id`=addre.address_id
    INNER JOIN `tb_commodity` comm ON orde.`order_id`=comm.`order_id`
    LEFT JOIN  `tb_sku` sku ON comm.`sku_id`=sku.`sku_id`
    INNER JOIN `tb_orderstatus` statu ON statu.`orderStatus_id`=comm.`orderstatus_id`
    INNER JOIN `tb_product` pro ON sku.`product_id`=pro.`product_id`
    INNER JOIN `tb_skuname` skuname ON pro.`product_id`=skuname.`product_id`
    LEFT JOIN `tb_skuvalue` skuvalue ON skuvalue.`skuname_id`=skuname.`skuname_id`
    LEFT JOIN `tb_image` img ON img.`product_id`=pro.`product_id`
     INNER JOIN `tb_orderstatus` statu1 ON statu1.`orderStatus_id` = orde.`status`
    WHERE skuvalue.`skuvalue_id` IN (
     SELECT SUBSTRING_INDEX(skuvalue_id, ':', 1) FROM tb_sku sku2  WHERE sku2.sku_id=comm.sku_id
     )
     and orde.order_id=#{orderId}
    </select>

    <delete id="removeOrderInfo">

        DELETE FROM `tb_order` WHERE `order_id` = #{orderId}
    </delete>

    <delete id="orderSelldaily">
        UPDATE`tb_order` SET `status`=8 WHERE NOW()>=    DATE_ADD(create_time, INTERVAL 3 DAY) AND `status`=1
    </delete>
    <select id="listSellDaily" resultType="Order">
        SELECT order_id FROM tb_order WHERE NOW()>=    DATE_ADD(create_time, INTERVAL 3 DAY) AND `status`=1
    </select>
    <resultMap type="Order" id="rOrder">
        <id property="orderId" column="order_id"/>
        <result property="status" column="status"/>
        <result property="money" column="money"/>
        <result property="goodsCount" column="goodsCount"/>
        <result property="paymentTime" column="payment_time"/>
        <result property="batch" column="batch"/>

        <association property="address" javaType="Address">
            <id property="addressId" column="address_id"/>
            <result property="consignee" column="consignee"/>
            <result property="phone" column="phone"/>
            <result property="code" column="code"/>
            <result property="comaddress" column="comaddress"/>
        </association>

        <collection property='orderstatus1' ofType="Orderstatus">
            <id property="orderStatus_id" column="orderStatus_id"/>
            <result property="orderStatus_name" column="orderStatus_name"/>
        </collection>

        <collection property='shoppingdetails' ofType="Shoppingdetails">
            <id property="shoppingDetailsId" column="shoppingDetails_id"/>
            <result property="shoppingId" column="shopping_id"/>
            <result property="skuId" column="sku_id"/>
            <result property="number" column="number"/>

            <collection property='sku' ofType="Sku">
                <id property="productId" column="product_id"/>
                <result property="skuvalueId" column="skuvalue_id"/>
                <result property="presentPrice" column="present_price"/>

                <collection property='products' ofType="Product">
                    <id property="productId" column="product_id"/>
                    <result property="productName" column="product_name"/>

                    <collection property='images' ofType="Image">
                        <id property="imageId" column="image_id"/>
                        <result property="imagePath" column="image_path"/>
                    </collection>
                </collection>

                <collection property='skuValue1' ofType="SkuValue">
                    <id property="skuvalueId" column="skuvalueId"/>
                    <result property="skuvalueValue" column="skuvalue_value"/>
                </collection>

            </collection>

        </collection>
    </resultMap>
    <select id="order" resultMap="rOrder">
        SELECT  o.`order_id`, o.`payment_time`,o.goodsCount,o.`batch`,o.`money`,o.`status`, orderstatus.orderStatus_name,shopingdetails.`number`,sku.`present_price`,
        product.`product_name`,
        image.`image_path`
        FROM tb_order o
        INNER JOIN `tb_orderstatus` orderstatus
        ON  orderstatus.`orderStatus_id`=o.`status`
        INNER JOIN `tb_shoppingdetails` shopingdetails
        ON shopingdetails.shopping_id=o.`order_id`
        INNER JOIN tb_sku sku
        ON sku.`sku_id`=shopingdetails.`sku_id`
        INNER JOIN tb_product product
        ON product.`product_id`=sku.`product_id`
        INNER JOIN tb_image image
        ON image.`product_id`=product.`product_id`
        WHERE 1=1
        <if test="batch!='' and batch!=null">
            and  o.batch=#{batch}
        </if>
        <if test="orderStatus!=null and orderStatus!=''">
            and  orderstatus.orderStatus_id=#{orderStatus}
        </if>
        GROUP BY o.`order_id`
    </select>

    <select id="cha" resultMap="rOrder">
         SELECT o.`order_id`,o.`payment_time`,o.goodsCount,o.`batch`,o.`money`,o.`status`, adress.`consignee`,adress.`phone`,adress.`code`,adress.`comaddress`,
	    orderstatus.`orderStatus_id`,orderstatus.orderStatus_name,shopingdetails.`number`,sku.`present_price`,
         product.`product_name`,skuvalue.`skuvalue_value`,
         image.`image_path`
         FROM tb_order o
         LEFT JOIN tb_address adress
         ON adress.`address_id`=o.`address_id`
         LEFT JOIN `tb_orderstatus` orderstatus
         ON  orderstatus.`orderStatus_id`=o.`status`
         LEFT JOIN `tb_shoppingdetails` shopingdetails
         ON shopingdetails.shopping_id=o.`order_id`
         LEFT JOIN tb_sku sku
         ON sku.`sku_id`=shopingdetails.`sku_id`
         LEFT JOIN tb_product product
         ON product.`product_id`=sku.`product_id`
         LEFT JOIN tb_skuvalue skuvalue
         ON skuvalue.`skuvalue_id`=sku.`skuvalue_id`
         LEFT JOIN tb_image image
         ON image.`product_id`=product.`product_id`
         WHERE
         o.`order_id`=#{order_id}
         GROUP BY o.`order_id`
    </select>

    <update id="status" >
         UPDATE tb_order SET `status`=8  where `order_id`=#{orderId};
    </update>

    <select id="getLastOrderInfo" resultType="Order">
 SELECT
order_id,address_id,create_time,batch,user_id,goodsCount,`status`
  FROM `tb_order` WHERE user_id=#{userId} order by create_time desc limit 0,1
    </select>
</mapper>