<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alcohol.mapper.ProductMapper">
        <select id="getProductbyId" resultMap="resultMap01">
        SELECT tb_product.product_id,tb_product.`product_name`,tb_product.product_details,tb_product.sales,tb_product.`longegral`,
          tb_skuname.skuname_id,tb_skuname.`skuname_name`,tb_skuvalue.skuvalue_id,tb_skuvalue.`skuvalue_value`,
          tb_sku.sku_id,tb_sku.stock,tb_sku.original_price,tb_sku.present_price,
          tb_image.image_id,tb_image.image_path
          FROM `tb_product`
          INNER JOIN tb_sku ON tb_product.`product_id`=tb_sku.`product_id`
          LEFT JOIN tb_skuname ON tb_sku.`product_id`=tb_skuname.`product_id`
          LEFT JOIN  tb_skuvalue ON tb_skuvalue.`skuname_id`=tb_skuname.`skuname_id`
          INNER JOIN (SELECT * FROM tb_image WHERE `image_type`=0) AS tb_image ON tb_image.`product_id`=tb_product.`product_id`
          WHERE tb_product.product_id=#{productid}
    </select>
    <select id="selTypeVlue" resultType="Product">
        SELECT typevalue_id FROM tb_product
    </select>
    <select id="selAllDESC" resultMap="Productlist">
        SELECT product_name,sales,typevalue_id,looknumber FROM tb_product
        <where>
            <if test="productName!=null and productName!=''">
                product_name LIKE CONCAT ('%',#{productName},'%')
            </if>
        </where>
        <if test="panduan==0">
            ORDER BY sales DESC
        </if>
        <if test="panduan==1">
            ORDER BY looknumber DESC
        </if>
    </select>

    <select id="selAll" resultMap="Productlist">
        SELECT product_name,sales,typevalue_id,looknumber FROM tb_product
        <where>
            <if test="productName!=null and productName!=''">
                product_name LIKE CONCAT ('%',#{productName},'%')
            </if>
        </where>

        ORDER BY sales
    </select>
    <resultMap id="Productlist" type="Product">
        <id column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="sales" property="sales"/>
        <result column="looknumber" property="looknumber"/>
    </resultMap>
    <resultMap id="resultMap01" type="Product">
        <id column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_desc" property="productDese"/>
        <result column="product_details" property="productDetails"/>
        <result column="sales" property="sales"/>
        <result column="longegral" property="longegral"/>
        <collection property="imageList" ofType="Image">
            <id column="image_id" property="imageId"/>
            <result column="image_path" property="imagePath"/>
        </collection>
        <collection property="skunameList" ofType="skuName">
            <id column="skuname_id" property="skunameId"/>
            <result column="skuname_name" property="skunameeValue"/>
            <collection property="skuValueList" ofType="SkuValue">
                <id column="skuvalue_id" property="skuvalueId"/>
                <result column="skuvalue_value" property="skuvalueValue"/>
            </collection>
        </collection>
        <collection property="skuList" ofType="Sku">
            <id column="sku_id" property="skuId"/>
            <result column="stock" property="stock"/>
            <result column="original_price" property="originalPrice"/>
            <result column="present_price" property="presentPrice"/>
        </collection>
    </resultMap>

    <select id="getProductByCategory" resultMap="resultMap01">
        SELECT tb_image.`image_id`,tb_image.`image_path`,tb_product.`product_id`,tb_product.`product_name`,
        sku.`sku_id`,sku.present_price
        FROM tb_product
        LEFT JOIN ( SELECT * FROM tb_image WHERE  image_type=0 GROUP BY tb_image.`product_id`) AS tb_image
        ON tb_image.`product_id`=tb_product.`product_id`
        LEFT JOIN (SELECT * FROM tb_sku  ORDER BY `present_price`)
        AS sku ON sku.`product_id`=tb_product.`product_id`
        WHERE 1=1
        <if test="weight!=null and weight!=''">
            and tb_product.weight=#{weight}
        </if>
        <if test="categoryOne!=null and categoryOne!=''">
            AND tb_product.`category_one`=#{categoryOne}
        </if>
        GROUP BY tb_product.`product_id`
    </select>
</mapper>