<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alcohol.mapper.ProductMapper">
        <select id="getProductbyId" resultMap="resultMap01">
        SELECT tb_product.product_id,tb_product.`product_name`,tb_product.product_details,tb_product.sales,tb_product.`longegral`,
          tb_skuname.skuname_id,tb_skuname.`skuname_name`,tb_skuvalue.skuvalue_id,tb_skuvalue.`skuvalue_value`,
          tb_sku.sku_id,tb_sku.stock,tb_sku.original_price,tb_sku.present_price,
          tb_image.image_id,tb_image.image_path
          FROM `tb_product`
          INNER JOIN tb_sku ON tb_product.`product_id`=tb_sku.`product_id`
          LEFT JOIN tb_skuname ON tb_sku.`product_id`=tb_skuname.`product_id`
          LEFT JOIN  tb_skuvalue ON tb_skuvalue.`skuname_id`=tb_skuname.`skuname_id`
          INNER JOIN (SELECT * FROM tb_image WHERE `image_type`=0) AS tb_image ON tb_image.`product_id`=tb_product.`product_id`
          WHERE tb_product.product_id=#{productid}
    </select>
    <select id="selTypeVlue" resultType="Product">
        SELECT typevalue_id FROM tb_product
    </select>
    <select id="selAllDESC" resultMap="Productlist">
        SELECT product_id,product_name,sales,typevalue_id,spare_one FROM tb_product
        <where>
            <if test="productName!=null and productName!=''">
                AND product_name LIKE CONCAT ('%',#{productName},'%')
            </if>
        </where>
        <if test="panduan==0">
            ORDER BY sales DESC
        </if>
        <if test="panduan==1">
            ORDER BY spare_one DESC
        </if>

    </select>

    <select id="selAll" resultMap="Productlist">
        SELECT product_id,product_name,sales,typevalue_id,spare_one FROM tb_product
        <where>
            <if test="productName!=null and productName!=''">
                AND product_name LIKE CONCAT ('%',#{productName},'%')
            </if>

        </where>
        ORDER BY sales
    </select>
    <resultMap id="Productlist" type="Product">
        <id column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="sales" property="sales"/>
        <result column="spare_one" property="spare_one"/>
        <result column="typevalue_id" property="typevalueId"/>
    </resultMap>
    <resultMap id="resultMap01" type="Product">
        <id column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_desc" property="productDese"/>
        <result column="product_details" property="productDetails"/>
        <result column="sales" property="sales"/>
        <result column="longegral" property="longegral"/>
        <collection property="imageList" ofType="Image">
            <id column="image_id" property="imageId"/>
            <result column="image_path" property="imagePath"/>
        </collection>
        <collection property="skunameList" ofType="skuName">
            <id column="skuname_id" property="skunameId"/>
            <result column="skuname_name" property="skunameeValue"/>
            <collection property="skuValueList" ofType="SkuValue">
                <id column="skuvalue_id" property="skuvalueId"/>
                <result column="skuvalue_value" property="skuvalueValue"/>
            </collection>
        </collection>
        <collection property="skuList" ofType="Sku">
            <id column="sku_id" property="skuId"/>
            <result column="stock" property="stock"/>
            <result column="original_price" property="originalPrice"/>
            <result column="present_price" property="presentPrice"/>
        </collection>
    </resultMap>

    <select id="getProductByCategory" resultMap="resultMap01">
        SELECT tb_image.`image_id`,tb_image.`image_path`,tb_product.`product_id`,tb_product.`product_name`,
        sku.`sku_id`,sku.present_price
        FROM tb_product
        LEFT JOIN ( SELECT * FROM tb_image WHERE  image_type=0 GROUP BY tb_image.`product_id`) AS tb_image
        ON tb_image.`product_id`=tb_product.`product_id`
        LEFT JOIN (SELECT * FROM tb_sku  ORDER BY `present_price`)
        AS sku ON sku.`product_id`=tb_product.`product_id`
        WHERE 1=1
        <if test="weight!=null and weight!=''">
            and tb_product.weight=#{weight}
        </if>
        <if test="categoryOne!=null and categoryOne!=''">
            AND tb_product.`category_one`=#{categoryOne}
        </if>
        GROUP BY tb_product.`product_id`
    </select>

    <resultMap id="getProductBySkuIdAndProductId" type="com.alcohol.pojo.Sku">
        <id column="sku_id" property="skuId"/>
        <result column="stock" property="stock"/>
        <result column="original_price" property="originalPrice"/>
        <result column="present_price" property="presentPrice"/>
        <collection property="product" ofType="Product">
            <id column="product_id" property="productId"/>
            <result column="product_name" property="productName"/>
            <result column="product_desc" property="productDese"/>
            <result column="product_details" property="productDetails"/>
            <result column="sales" property="sales"/>
            <result column="longegral" property="longegral"/>
        </collection>
        <collection property="skuValue" ofType="SkuValue">
            <id column="skuvalue_id" property="skuvalueId"/>
            <result column="skuvalue_value" property="skuvalueValue"/>
        </collection>
    </resultMap>
    <select id="selectProductBySkuIdAndProductId" resultMap="getProductBySkuIdAndProductId">
        SELECT s.sku_id,s.product_id,s.stock,s.original_price,s.present_price,
        p.product_id,p.product_name,p.product_desc,p.product_details,p.sales,p.longegral,
        v.skuvalue_id,v.skuvalue_value
        FROM tb_sku s,tb_product p,tb_skuvalue v
        WHERE s.`product_id`=p.`product_id`
        AND s.`skuvalue_id`=v.`skuvalue_id`
        <if test="productId!=null">
            AND s.product_id=#{productId}
        </if>
        <if test="skuId!=null">
            AND s.sku_id=#{skuId}
        </if>
    </select>

    <!--根据名字模糊查询商品  xcf-->
    <select id="getProductList" resultType="Product">
        SELECT tbpr.product_id,
        tbpr.product_name,
        tbpr.sales,
        tbpr.spare_one,
        tbimg.image_path,
        tbsku.present_price,
        tbcomm.countid
        FROM tb_product tbpr
        LEFT JOIN tb_Image tbimg
        ON tbpr.product_id = tbimg.product_id

        LEFT JOIN (SELECT sku.product_id,sku.present_price FROM (SELECT * FROM tb_sku ORDER BY present_price) sku  GROUP BY product_id) tbsku
        ON tbsku.product_id = tbpr.product_id

        LEFT JOIN (SELECT tb_sku.product_id pid,COUNT(tb_comment.comment_id) countid FROM tb_sku  LEFT JOIN tb_comment ON tb_sku.sku_id =tb_comment.sku_id GROUP BY tb_sku.product_id) tbcomm
        ON  tbcomm.pid = tbpr.`product_id`
        <if test="product_name!='' and product_name!=null">
            WHERE tbpr.product_name LIKE concat('%',#{product_name},'%')
        </if>
        GROUP BY tbpr.product_id
        <if test="judge==1">      <!--销量正序-->
            ORDER BY tbpr.sales
        </if>
        <if test="judge==2">      <!--销量倒叙-->
            ORDER BY tbpr.sales DESC
        </if>
        <if test="judge==3">      <!--评论正序-->
            ORDER BY tbcomm.countid
        </if>
        <if test="judge==4">      <!--评论倒叙-->
            ORDER BY tbcomm.countid DESC
        </if>
        <if test="judge==5">      <!--价格正序-->
            ORDER BY tbsku.present_price
        </if>
        <if test="judge==6">      <!--价格倒叙-->
            ORDER BY tbsku.present_price DESC
        </if>
    </select>
    <!--根据名字模糊查询三级分类   xcf-->
    <select id="getCategorythree" >
        SELECT categorythree_id ,categorythree_name
        FROM tb_categorythree
        WHERE categorythree_name
        LIKE concat('%'#{pName}'%') ORDER BY weight;
    </select>
    <!--张鹏商品后台列表-->
    <select id="listAll" resultType="Product">
        SELECT tbpr.product_id,
        tbpr.product_name,
        tbpr.sales,
        tbpr.spare_one,
        tbpr.status,
        tbpr.create_time,
        tbpr.down_time,
        tbsku.present_price,
        sumsku.countid,
        tbimg.image_path
        FROM tb_product tbpr
        LEFT JOIN tb_Image tbimg
        ON tbpr.product_id = tbimg.product_id
        LEFT JOIN (SELECT sku.product_id,sku.present_price FROM (SELECT * FROM tb_sku ORDER BY present_price) sku  GROUP BY product_id) tbsku
        ON tbsku.product_id = tbpr.product_id
        LEFT JOIN (SELECT tb_sku.product_id,SUM(tb_sku.stock) countid FROM tb_sku GROUP BY tb_sku.product_id) sumsku
        ON sumsku.product_id=tbpr.product_id
        WHERE 1=1
        <if test="status!=0">
            AND tbpr.status=#{status}
        </if>
        AND tbpr.product_name LIKE CONCAT ('%',#{product_name},'%') GROUP BY tbpr.product_id
    </select>

    <!--张鹏商品下架-->
    <update id="updateStatus" parameterType="int[]">
        update tb_product set status =1,down_time=NOW() where product_id in
        <foreach collection="array" item="arr" index="no" open="("
                 separator="," close=")">
            #{arr}
        </foreach>
    </update>
    <!--张鹏商品上架-->
    <update id="updateStatussj" parameterType="int[]">
        update tb_product set status =2,down_time=NOW() where product_id in
        <foreach collection="array" item="arr" index="no" open="("
                 separator="," close=")">
            #{arr}
        </foreach>
    </update>
    <!--张鹏商品删除-->
    <update id="deleStatus" parameterType="int[]">
        update tb_product set status =3,down_time=NOW() where product_id in
        <foreach collection="array" item="arr" index="no" open="("
                 separator="," close=")">
            #{arr}
        </foreach>
    </update>
</mapper>