<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alcohol.mapper.SkuValueMapper">

    <select id="getSkuById" resultMap="resultMap01">
        SELECT tb_skuname.`skuname_id`,tb_skuname.`skuname_name`,
        tb_skuValue.`skuvalue_id`,tb_skuValue.`skuvalue_value`
        FROM tb_skuValue
        INNER JOIN tb_skuname ON tb_skuValue.`skuname_id`=tb_skuname.`skuname_id`
        WHERE skuvalue_id=#{id}
    </select>

    <resultMap id="resultMap01" type="SkuValue">
        <id column="skuvalue_id" property="skuvalueId"/>
        <result column="skuvalue_value" property="skuvalueValue"/>
        <association property="skuName" javaType="skuName">
            <id column="skuname_id" property="skunameId"/>
            <result column="skuname_name" property="skunameeValue"/>
        </association>
    </resultMap>
</mapper>