<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alcohol.mapper.TypeValueMapper">
    <!--查询三级分类-->
    <select id="getTypeValue" resultType="Typevalue">
SELECT typevalueid,typeValuename FROM tb_typevalue
WHERE typeNameid=(
	SELECT typeNameid FROM tb_typename WHERE categoryid=2
)
    </select>

    <insert id="addTypeValue">
        INSERT INTO tb_typevalue values
        (#{typeValue_name},#{typeName_id},#{weight},#{isDel})
    </insert>
    <update id="modifyTypeValue">
        update tb_typevalue set typeValuename=#{typeValue_name}
    </update>
    <update id="delTypeValue">
         update tb_typevalue set isdel=#{isDel} where typeValueid=#{typeValue_id}
    </update>
    <select id="selIdType" resultType="com.alcohol.pojo.Typevalue">
        SELECT typeValue_id,typeValue_name FROM `tb_typevalue` WHERE typeValue_id=#{typeValueId}
    </select>
</mapper>