<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alcohol.mapper.UserMapper">
    <!-- <resultMap id="user" type="User">
         <id property="userId" column="user_id"/>
         <result property="membershipName" column="membership_name"/>
         <result property="nickName" column="nick_name"/>
         <result property="sex" column="sex"/>
         <result property="birthday" column="birthday"/>
         <result property="createTime" column="create_time"/>
         <result property="integral" column="integral"/>
         <result property="status" column="status"/>
         <collection property="useraccount" column="Useraccount">
             <id property="accountId" column="account_id"/>
             <result property="phone" column="phone"/>
         </collection>
     </resultMap>-->
    <insert id="insertInfo">
        insert into tb_user(
        user_id,membership_name,real_name,nick_name,frozen,create_time,last_time,integral)
        value(#{userId},#{membershipName},#{realName},#{nickName},#{frozen},#{createTime},#{lastTime},#{integral}
    </insert>
    <select id="existUserName" resultType="Integer">
        SELECT COUNT(1) FROM tb_useraccount
         WHERE phone =#{username} or email = #{username} or  user_id = (SELECT user_id FROM tb_user WHERE membership_name = #{username})
    </select>

    <select id="userNameSatus" resultType="Integer">
          SELECT `frozen` FROM tb_user WHERE user_id=#{userId}
    </select>
    <update id="updateInfo">
        update tb_user
        <set>
        <if test="nickName!=null and nickName!=''">
            nick_name=#{nickName},
        </if>
            <if test="membershipName != null and membershipName != ''">
                membership_name =#{memershipName},
            </if>
            <if test="realName != null and realName != ''">
                real_name =#{realName},
            </if>
            <if test="sex != null and sex != ''">
                sex =#{sex},
            </if>
            <if test="birthday != null and birthday !=''">
                birthday=#{birthday},
            </if>
            <if test="frozen!=null and frozen!=''">
                `frozen`=#{frozen}
            </if>
            <if test="lastTime != null and lastTime !=''">
                last_time =#{lastTime},
            </if>


        </set>
        where user_id =#{userId}
    </update>
    <!--查询用户-->
    <select id="listUser" resultType="User">
        SELECT user_id,membership_name,nick_name,birthday,frozen,create_time,integral FROM tb_user
        WHERE 1=1
        <if test="nickName!=null and nickName!=''">
            and nick_name LIKE CONCAT ('%',#{nickName},'%')
        </if>
    </select>

    <!--禁用启用用户-->
    <update id="updStatus">
          UPDATE tb_user SET `frozen`=#{frozen}
            WHERE user_id=#{userId}
    </update>
</mapper>